{% import "macro.cpp.j2" as macro %}

#include <bits/stdc++.h>
#include "driver.h"

#define support_trace(...) do { \
    fprintf(stderr, "DRIVER: communication with stdin/out: "); \
    fprintf(stderr, __VA_ARGS__); \
} while(0) 

#define support_trace_driver(process_id,...) do { \
    fprintf(stderr, "DRIVER: communication with process(%d): ", process_id); \
    fprintf(stderr, __VA_ARGS__); \
} while(0) 

{% for interface in task.interfaces.values() %}
    {{ macro.generate_protocol(
        interface.functions.values(),
        interface.callback_functions.values(),
        driver=True,
        interface_name=interface.name) }}
{% endfor %}

{{ macro.generate_protocol([], task.functions.values()) }}

int main() {
    driver_init();
    accept_callbacks();
}
