<button (click)="reevaluateSelected()">Reevaluate selected</button>
<ag-grid-angular class="submissions-grid ag-theme-balham" [animateRows]="true" rowSelection="multiple"
  [quickFilterText]="quickFilterText" domLayout="autoHeight" [rowData]="data.contest.submissions"
  [columnDefs]="data.contest.problems | jsonPure | fromJson | applyPure:getColumnDefs:{ createdAt: createdAt, grading: grading }"
  [gridOptions]="{} | gridOptions" (columnGroupOpened)="$event.api.sizeColumnsToFit()"
  (gridSizeChanged)="$event.api.sizeColumnsToFit()">
</ag-grid-angular>

<ng-template #createdAt let-submission="data">
  <app-relative-time [time]="submission.createdAt"></app-relative-time>
</ng-template>

<ng-template #grading let-value="value" let-eGridCell="eGridCell">
  <ng-container *ngIf="value !== undefined">
    <app-grading [appGrading]="value" [appGradingNativeElement]="eGridCell" [grading]="value">
    </app-grading>
  </ng-container>
</ng-template>
