@import '~bootstrap/scss/bootstrap';

app-contest-problem-assignment-user-tackling-aside {
  display: block;
  padding: 16px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.problem-submit {
  @extend .btn, .btn-block, .btn-success;
}

.problem-last-submission-button,
.problem-submission-list-button {
  @extend .btn, .btn-block, .btn-outline-dark;
}
