<form class="submit-modal" (ngSubmit)="submit($event)">
  <div class="submit-modal-header">
    <h4>
      Solution of: <strong>{{ data.assignmentView.assignment.problem.title | text }}</strong>
    </h4>
  </div>
  <div class="submit-modal-body">
    <ng-container *ngFor="let field of data.assignmentView.assignment.problem.submissionFields">
      <ng-container *ngIf="fieldStates[field.name] as state">
        <label class="submit-field-label" [for]="field.name + '.file'">{{ field.title | text }}</label>
        <input #input class="submit-field-input" [id]="field.name + '.file'" [name]="field.name + '.file'" type="file"
          (change)="state.file = $event.target.files[0]" />
        <button class="submit-field-choose" (click)="input.click(); $event.preventDefault()">Choose file</button>
        <dl *ngIf="state.file! as file" class="submit-field-info">
          <dt>Name:</dt>
          <dd>{{ file.name }}</dd>
          <dt>Type:</dt>

          <ng-container *ngIf="getTypingRule(file, field) as typeRule">
            <dd [ngSwitch]="state.overrideDefaultType ? null : typeRule.defaultType">
              <ng-container *ngSwitchCase="null">
                <select [name]="field.name + '.type'" class="submit-field-select-type">
                  <ng-container *ngFor="let type of typeRule.recommendedTypes">
                    <option [value]="type.name">{{ type.title | text }}</option>
                  </ng-container>
                  <ng-container *ngFor="let type of typeRule.otherTypes">
                    <option [value]="type.name">{{ type.title | text }}</option>
                  </ng-container>
                </select>
              </ng-container>
              <ng-container *ngSwitchDefault>
                {{ typeRule.defaultType!.title | text }}
                (<button class="submit-field-change-type" (click)="state.overrideDefaultType = true">change</button>)
                <input type="hidden" [name]="field.name + '.type'" [value]="typeRule.defaultType!.name" />
              </ng-container>
            </dd>
          </ng-container>

          <dt>Size:</dt>
          <dd>{{ file.size | filesize }}</dd>
        </dl>
      </ng-container>
    </ng-container>
  </div>
  <div class="submit-modal-footer">
    <button class="submit-modal-submit" [disabled]="submitting" type="submit">Submit</button>
  </div>
</form>
