<app-contest-view-aside [data]="data"></app-contest-view-aside>

<ng-container *ngIf="data.problemSetView! as problemSetView">
  <ng-container *ngFor="let itemView of problemSetView.itemViews">
    <app-contest-problem-set-item-view-aside
      [hidden]="(route.firstChild!.paramMap | async).get('problemName') !== itemView.item.problem.name"
      [data]="itemView"></app-contest-problem-set-item-view-aside>
  </ng-container>
</ng-container>

<ng-container *ngIf="data.problemSetView! as problemSetView">
  <ng-container *ngFor="let itemView of problemSetView.itemViews">
    <app-media-inline [hidden]="(route.firstChild!.paramMap | async).get('problemName') !== itemView.item.problem.name"
      [data]="itemView.item.problem.statement"></app-media-inline>
  </ng-container>
</ng-container>
