<app-contest-problem-assignment-user-tackling-aside [data]="data.tackling"></app-contest-problem-assignment-user-tackling-aside>
<div class="problem-info">
  <ng-container *ngIf="data.awardAssignmentViews.length > 0">
    <h3 class="problem-award-list-title">Awards</h3>
    <div class="problem-award-list">
      <ng-container *ngFor="let awardAssignmentView of data.awardAssignmentViews">
        <div class="problem-award" [title]="awardAssignmentView.assignment.award.title | text">
          <span class="problem-award-name">{{ awardAssignmentView.assignment.award.title | text }}</span>
          <span class="problem-award-grading" [appValence]="awardAssignmentView.gradeField">
            <app-grade-field [data]="awardAssignmentView.gradeField"></app-grade-field>
          </span>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="data.assignment.problem.attachments.length > 0">
    <h3 class="problem-attachment-list-title">Attachments</h3>
    <div class="problem-attachment-list">
      <ng-container *ngFor="let attachment of data.assignment.problem.attachments">
        <app-media-download class="problem-attachment" [data]="attachment.media"></app-media-download>
      </ng-container>
    </div>
  </ng-container>
  <h2 class="problem-download-statement-title">Statement file</h2>
  <app-media-download class="problem-download-statement" [data]="data.assignment.problem.statement"></app-media-download>
</div>
