<div class="problem-submission-panel">
  <ng-container *ngIf="data.canSubmit">
    <button class="problem-submit" (click)="modalService.open(submitDialog)">
      <fa-icon icon="paperPlane"></fa-icon>
      Submit a solution
    </button>
  </ng-container>

  <ng-container *ngIf="data.submissions[data.submissions.length - 1] as lastSubmission">
    <button class="problem-last-submission" (click)="modalService.open(lastSubmissionDialog, { size: 'lg' })">
      <fa-icon *ngIf="lastSubmission.evaluation.status !== 'PENDING'" icon="history"> </fa-icon>
      <fa-icon *ngIf="lastSubmission.evaluation.status === 'PENDING'" icon="spinner" [pulse]="true">
      </fa-icon>
      Last submission
    </button>

    <button class="problem-submission-list" (click)="modalService.open(submissionListDialog, { size: 'xl' })">
      <fa-icon icon="list"></fa-icon>
      All submissions
    </button>
  </ng-container>
</div>
<div class="problem-info">
  <ng-container *ngIf="data.awardAssignmentViews.length > 0">
    <h3 class="problem-award-list-title">Awards</h3>
    <div class="problem-award-list">
      <ng-container *ngFor="let awardAssignmentView of data.awardAssignmentViews">
        <div class="problem-award" [title]="awardAssignmentView.assignment.award.title | text">
          {{ awardAssignmentView.assignment.award.title | text }}
          <span class="problem-award-grading" [appValence]="awardAssignmentView.gradingState">
            <app-grading [data]="awardAssignmentView.gradingState"></app-grading>
          </span>
        </div>
      </ng-container>
    </div>
  </ng-container>
  <ng-container *ngIf="data.assignment.problem.attachments.length > 0">
    <h3 class="problem-attachment-list-title">Attachments</h3>
    <div class="problem-attachment-list">
      <ng-container *ngFor="let attachment of data.assignment.problem.attachments">
        <app-media-download [data]="attachment.media"></app-media-download>
      </ng-container>
    </div>
  </ng-container>
  <h2 class="problem-download-statement-title">Statement file</h2>
  <app-media-download class="problem-download-statement" [data]="data.assignment.problem.statement"></app-media-download>
</div>
