<ng-container *ngIf="data.problemSetView! as problemSetView">
  <ng-container *ngIf="problemSetView.totalScoreField.score !== $any(null)">
    <h2 class="contest-score-title">Score</h2>
    <div class="contest-score">
      <app-grade-field [data]="problemSetView.totalScoreField"></app-grade-field>
    </div>
  </ng-container>
</ng-container>

<app-contest-view-clock [data]="data"></app-contest-view-clock>

<ng-container *ngIf="data.problemSetView! as problemSetView">
  <h2 class="contest-problem-list-title">Problems</h2>
  <div class="contest-problem-list">
    <ng-container *ngFor="let assignmentView of problemSetView.assignmentViews; index as index">
      <a class="contest-problem-link" [routerLink]="['/problem', assignmentView.assignment.problem.name]"
        [title]="assignmentView.assignment.problem.title | text" routerLinkActive="active">
        <span class="contest-problem-link-name">
          {{ assignmentView.assignment.problem.title | text }}
        </span>
        <span class="contest-problem-score" [appValence]="assignmentView.totalScoreField.valence">
          <app-grade-field [data]="assignmentView.totalScoreField"></app-grade-field>
        </span>
      </a>
    </ng-container>
  </div>
</ng-container>
