<form class="submit-modal" (ngSubmit)="$event.preventDefault(); submit($event)">
  <div class="submit-modal-header">
    <h4>
      Solution of: <strong>{{ data.assignment.problem.title | text }}</strong>
    </h4>
  </div>
  <div class="submit-modal-body">
    <ng-container *ngFor="let field of [] || data.assignment.problem.submissionForm.fields">
      <ng-container *ngIf="fieldState(field) as state">
        <label class="submit-field-label" [for]="field.id + '.file'">{{ field.title | text }}</label>
        <input
          #input
          class="submit-field-input"
          [id]="field.id + '.file'"
          [name]="field.id + '.file'"
          type="file"
          (change)="fieldState(field).file = $event.target.files[0]"
        />
        <button class="submit-field-choose" (click)="input.click(); $event.preventDefault()">Choose file</button>
        <dl *ngIf="state.file as file" class="submit-field-info">
          <dt>Name:</dt>
          <dd>{{ file.name }}</dd>
          <dt>Type:</dt>
          <dd [ngSwitch]="state.typeChoices.type">
            <ng-container *ngSwitchCase="'oneRecommended'">
              {{ state.typeChoices.recommendedType!.title | text }}
              (<a href="#" class="submit-field-change-type" (click)="state.moreTypes = true; $event.preventDefault()"
                >change</a
              >)
              <input type="hidden" [name]="field.id + '.type'" [value]="state.typeChoices.recommendedType!.id" />
            </ng-container>
            <ng-container *ngSwitchCase="'manyRecommended'">
              <label *ngFor="let type of state.typeChoices.recommendedTypes!" class="submit-field-type-radio">
                <input type="radio" [name]="field.id + '.type'" [value]="type.id" />
                {{ type.title | text }}
              </label>
              (<a href="#" class="submit-field-more-types" (click)="state.moreTypes = true; $event.preventDefault()"
                >more...</a
              >)
            </ng-container>
            <select *ngSwitchCase="'custom'" [name]="field.id + '.type'" class="submit-field-select-type">
              <option *ngFor="let type of state.typeChoices.allTypes" [value]="type.id">
                {{ type.title | text }}</option
              >
            </select>
          </dd>
          <dt>Size:</dt>
          <dd>{{ file.size | filesize }}</dd>
        </dl>
      </ng-container>
    </ng-container>
  </div>
  <div class="submit-modal-footer">
    <button class="submit-modal-submit" [disabled]="submitting" type="submit">Submit</button>
  </div>
</form>
