@import '~bootstrap/scss/bootstrap';

.contest-clock {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 2rem;
  text-align: right;
  margin-bottom: 16px;

  &[data-clock-status='ENDED'] {
    @extend .text-danger;
  }
}
