<ng-container *ngIf="clock | async as clock">
  <h2 class="contest-clock-title" [ngSwitch]="data.contest.status">
    <ng-container *ngSwitchCase="'NOT_STARTED'">Starting In</ng-container>
    <ng-container *ngSwitchCase="'RUNNING'">Remaining Time</ng-container>
    <ng-container *ngSwitchCase="'ENDED'">Ended</ng-container>
  </h2>
  <div class="contest-clock" [attr.data-clock-status]="data.contest.status">
    {{ clock.negated ? '-' : '' }}{{ clock.duration.toFormat('hh:mm:ss') }}
  </div>
</ng-container>
