.rag-red {
  background-color: #fcb7b7;
}
.rag-green {
  background-color: #acfdac;
}
.rag-amber {
  background-color: #fae49d;
}
.ag-root-wrapper-body.ag-layout-normal.ag-focus-managed {
  height: 100%;
}
