<form class="login-form" (ngSubmit)="$event.preventDefault(); logIn($event.target.elements.token.value)">
  <div class="login-dialog-body">
    <label class="login-token-label" for="token">Token</label>
    <input class="login-token-input" id="token" name="token" type="password" [class.is-invalid]="invalidToken" />
    <small class="login-token-suggestion" [hidden]="invalidToken">
      Insert the token or password provided to you. No username needed.
    </small>
    <small class="login-token-invalid">
      Invalid token.
    </small>
  </div>
  <div class="login-dialog-footer">
    <button (click)="modal.dismiss()" class="login-dialog-cancel" type="button">Cancel</button>
    <button class="login-dialog-submit" type="submit">Log in</button>
  </div>
</form>
