app-media-inline {
  display: flex;
  flex: 1;
}

.inline-file-markdown {
  padding: 0.75rem;
  max-width: 60rem;
}

.inline-file-markdown,
.inline-file-iframe {
  display: block;
  flex: 1;
  border: none;
}
