<ng-container *ngIf="(dataObservable | async)?.submission as data">
  <div class="submission-dialog-header">
    <h5>
      Submission for: <strong>{{ data.problem.title | text }}</strong>
    </h5>
  </div>
  <div class="submission-pending" *ngIf="data.officialEvaluation?.status === 'PENDING'">
    <fa-icon icon="spinner" [pulse]="true"></fa-icon> Evaluating...
  </div>
  <div class="submission-dialog-body">
    <ag-grid-angular class="ag-theme-balham" domLayout="autoHeight" [rowData]="data.feedbackTable.rows"
      [columnDefs]="data | applyPure: getColumns" (gridSizeChanged)="$event.api.sizeColumnsToFit()">
    </ag-grid-angular>

  </div>
  <div class="submission-dialog-footer">
    <button (click)="modal.close()" class="submission-dialog-close">Close</button>
  </div>
</ng-container>
