@import '~bootstrap/scss/bootstrap';

.top-bar {
  display: flex;
  background-color: #0275d8;
  align-items: center;
  padding: 8px 16px;
  color: #fff;
}

.top-bar-home {
  display: block;

  margin: -8px 0;
  padding: 8px 0;

  color: white;
  text-decoration: none;
  background-color: transparent;

  &:hover {
    text-decoration: none;
    color: white;
  }

  margin-right: auto;
}

.top-bar-title {
  display: block;
  margin: 0;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: inherit;
  white-space: nowrap;
}

.user-login,
.user-logout,
.user-display-name,
.messages-button,
.admin-button {
  margin-right: 1em;
}

.user-login,
.user-logout,
.messages-button,
.admin-button {
  @extend .btn, .btn-sm, .btn-light;
}

.message-count-badge {
  @extend .badge, .badge-primary;
}
