<nav class="top-bar">
  <a routerLink="/" class="top-bar-home">
    <h1 class="top-bar-title">
      <fa-icon icon="home"></fa-icon> {{ title | text }}
    </h1>
  </a>
  <ng-container *ngIf="userDisplayName">
    <span class="user-display-name">{{ userDisplayName }}</span>
  </ng-container>
  <button class="messages-button">
    <fa-icon icon="comments"></fa-icon>
    Messages
    <span class="message-count-badge" [hidden]="messagesCount === 0">{{messagesCount}}</span>
  </button>
  <ng-container *ngIf="isLoggedIn">
    <ng-container *ngIf="isAdmin">
      <a routerLink="/admin" class="admin-button">
        <fa-icon icon="tools"></fa-icon>
        Admin
      </a>
    </ng-container>
    <button class="user-logout" (click)="logOut()">
      <fa-icon icon="signOutAlt"></fa-icon>
      Logout
    </button>
  </ng-container>
  <ng-container *ngIf="!isLoggedIn">
    <button class="user-login" (click)="modalService.open(loginDialog)">
      <fa-icon icon="signInAlt"></fa-icon>
      Login
      <ng-template #loginDialog let-modal>
        <app-login-modal [modal]="modal"></app-login-modal>
      </ng-template>
    </button>
  </ng-container>
</nav>
