<ng-container *ngIf="adminQuery.valueChanges | async as result">
  <ng-container *ngIf="result.data as data">
    <nav class="topbar">
      <a routerLink="/admin" class="admin-home-link">
        <h1 class="admin-title">
          <fa-icon [icon]="faTools"></fa-icon> [Admin] {{data.contestView.title | textVariant}}
        </h1>
      </a>
    </nav>

    <div class="admin-main">
      <aside class="admin-aside">
        <a class="admin-section-link" routerLink="/admin/problems" routerLinkActive="active">
          Problems
        </a>
        <a class="admin-section-link" routerLink="/admin/contestants" routerLinkActive="active">
          Contestants
        </a>
        <a class="admin-section-link" routerLink="/admin/submissions" routerLinkActive="active">
          Submissions
        </a>
      </aside>

      <main class="admin-contestants" [hidden]="(route.firstChild!.data | async).adminSection !== 'contestants'">
        <label>Filter</label>
        <input [(ngModel)]="quickFilterText" />
        <ag-grid-angular #contestantsGrid class="contestants-grid ag-theme-balham"
          [defaultColDef]="contestantsGridModel.defaultColDef" [animateRows]="true"
          [rowData]="contestantsGridModel.rowData | async" [columnDefs]="contestantsGridModel.columnDefs | async"
          [context]="contestantsGridModel.context | async" rowSelection="multiple" [quickFilterText]="quickFilterText">
        </ag-grid-angular>
      </main>

      <main class="admin-submissions" [hidden]="(route.firstChild!.data | async).adminSection !== 'submissions'">
        <label>Filter</label>
        <input [(ngModel)]="quickFilterText" />
        <ag-grid-angular #submissionsGrid class="submissions-grid ag-theme-balham"
          [defaultColDef]="submissionsGridModel.defaultColDef" [animateRows]="true"
          [rowData]="submissionsGridModel.rowData | async" [columnDefs]="submissionsGridModel.columnDefs | async"
          [context]="submissionsGridModel.context | async" rowSelection="multiple" [quickFilterText]="quickFilterText">
        </ag-grid-angular>
      </main>

      <main class="admin-problems" [hidden]="(route.firstChild!.data | async).adminSection !== 'problems'">
        <label>Filter</label>
        <input [(ngModel)]="quickFilterText" />
        <ag-grid-angular #problemsGrid class="problems-grid ag-theme-balham" [rowDragManaged]="true"
          [defaultColDef]="problemsGridModel.defaultColDef" [animateRows]="true"
          [rowData]="problemsGridModel.rowData | async" [columnDefs]="problemsGridModel.columnDefs | async"
          [context]="problemsGridModel.context | async" rowSelection="multiple" [quickFilterText]="quickFilterText">
        </ag-grid-angular>
      </main>
    </div>
  </ng-container>
</ng-container>

<router-outlet></router-outlet>
