**
!.gitignore
!.travis.yml
!Dockerfile
!Dockerfile.base
!LICENSE
!README.asc
!docs/protocol.asc
!docs/setup.asc
!examples/connectivity_query/evaluate.py
!examples/connectivity_query/interface.txt
!examples/connectivity_query/solutions/Correct.java
!examples/connectivity_query/solutions/correct.cpp
!examples/connectivity_query/solutions/correct.py
!examples/longest_common_subsequence/evaluate.py
!examples/longest_common_subsequence/interface.txt
!examples/longest_common_subsequence/solutions/Correct.java
!examples/longest_common_subsequence/solutions/correct.cpp
!examples/longest_common_subsequence/solutions/correct.py
!examples/longest_increasing_subsequence/algorithms/correct.cpp
!examples/longest_increasing_subsequence/evaluate.py
!examples/longest_increasing_subsequence/interface.txt
!examples/longest_increasing_subsequence/metadata.yaml
!examples/longest_increasing_subsequence/solutions/quadratic.cpp
!examples/max_in_sequence/evaluate.py
!examples/max_in_sequence/interface.txt
!examples/max_in_sequence/solutions/Correct.java
!examples/max_in_sequence/solutions/correct.cpp
!examples/max_in_sequence/solutions/correct.js
!examples/max_in_sequence/solutions/correct.py
!examples/max_in_sequence/solutions/wrong.cpp
!examples/shortest_path/evaluate.py
!examples/shortest_path/interface.txt
!examples/shortest_path/solutions/Correct.java
!examples/shortest_path/solutions/correct.cpp
!examples/sum_of_two_numbers/evaluate.py
!examples/sum_of_two_numbers/interface.txt
!examples/sum_of_two_numbers/metadata.yaml
!examples/sum_of_two_numbers/problem.md
!examples/sum_of_two_numbers/solutions/Correct.java
!examples/sum_of_two_numbers/solutions/always_wrong.py
!examples/sum_of_two_numbers/solutions/correct.cpp
!examples/sum_of_two_numbers/solutions/correct.js
!examples/sum_of_two_numbers/solutions/correct.py
!examples/sum_of_two_numbers/solutions/wrong.cpp
!examples/tic_tac_toe/evaluate.py
!examples/tic_tac_toe/interface.txt
!examples/tic_tac_toe/solutions/correct.cpp
!examples/triangle_dynamic_programming/evaluate.py
!examples/triangle_dynamic_programming/interface.txt
!examples/triangle_dynamic_programming/solutions/Correct.java
!examples/triangle_dynamic_programming/solutions/correct.cpp
!examples/triangle_dynamic_programming/solutions/correct.js
!examples/triangle_dynamic_programming/solutions/correct.py
!generate-dockerignore.sh
!logo.svg
!setup.py
!turingarena/algorithm.py
!turingarena/cli/__init__.py
!turingarena/cli/loggerinit.py
!turingarena/cli/main.py
!turingarena/config.py
!turingarena/container/__init__.py
!turingarena/container/cli.py
!turingarena/container/sshd.py
!turingarena/interface/__init__.py
!turingarena/interface/alloc.py
!turingarena/interface/bindings.py
!turingarena/interface/block.py
!turingarena/interface/callables.py
!turingarena/interface/calls.py
!turingarena/interface/cli.py
!turingarena/interface/context.py
!turingarena/interface/control.py
!turingarena/interface/driver/__init__.py
!turingarena/interface/driver/client.py
!turingarena/interface/driver/commands.py
!turingarena/interface/driver/connection.py
!turingarena/interface/driver/server.py
!turingarena/interface/driver/test_driver.py
!turingarena/interface/engine.py
!turingarena/interface/exceptions.py
!turingarena/interface/executable.py
!turingarena/interface/expressions.py
!turingarena/interface/grammar.py
!turingarena/interface/interface.py
!turingarena/interface/io.py
!turingarena/interface/mainblocks.py
!turingarena/interface/metadata.py
!turingarena/interface/node.py
!turingarena/interface/parser.py
!turingarena/interface/proxy.py
!turingarena/interface/references.py
!turingarena/interface/statement.py
!turingarena/interface/tests/__init__.py
!turingarena/interface/tests/test_array.py
!turingarena/interface/tests/test_callbacks.py
!turingarena/interface/tests/test_calls.py
!turingarena/interface/tests/test_flush.py
!turingarena/interface/tests/test_functions.py
!turingarena/interface/tests/test_types.py
!turingarena/interface/tests/test_utils.py
!turingarena/interface/tests/test_variables.py
!turingarena/interface/type_expressions.py
!turingarena/interface/variables.py
!turingarena/metaserver.py
!turingarena/pipeboundary.py
!turingarena/problem/__init__.py
!turingarena/problem/cli.py
!turingarena/problem/evaluation.py
!turingarena/problem/evaluator.py
!turingarena/problem/problem.py
!turingarena/problem/python.py
!turingarena/pytestplugin.py
!turingarena/pythonsite.py
!turingarena/sandbox/__init__.py
!turingarena/sandbox/client.py
!turingarena/sandbox/connection.py
!turingarena/sandbox/exceptions.py
!turingarena/sandbox/executable.py
!turingarena/sandbox/languages/__init__.py
!turingarena/sandbox/languages/cpp/__init__.py
!turingarena/sandbox/languages/cpp/executable.py
!turingarena/sandbox/languages/cpp/generator.py
!turingarena/sandbox/languages/cpp/sandbox.c
!turingarena/sandbox/languages/cpp/source.py
!turingarena/sandbox/languages/cpp/test_cpp.py
!turingarena/sandbox/languages/generator.py
!turingarena/sandbox/languages/java/__init__.py
!turingarena/sandbox/languages/java/executable.py
!turingarena/sandbox/languages/java/generator.py
!turingarena/sandbox/languages/java/security.policy
!turingarena/sandbox/languages/java/source.py
!turingarena/sandbox/languages/java/test_java.py
!turingarena/sandbox/languages/javascript/__init__.py
!turingarena/sandbox/languages/javascript/executable.py
!turingarena/sandbox/languages/javascript/generator.py
!turingarena/sandbox/languages/javascript/sandbox.js
!turingarena/sandbox/languages/javascript/source.py
!turingarena/sandbox/languages/javascript/test_javascript.py
!turingarena/sandbox/languages/language.py
!turingarena/sandbox/languages/python/__init__.py
!turingarena/sandbox/languages/python/executable.py
!turingarena/sandbox/languages/python/generator.py
!turingarena/sandbox/languages/python/sandbox.py
!turingarena/sandbox/languages/python/source.py
!turingarena/sandbox/languages/python/test_python.py
!turingarena/sandbox/rlimits.py
!turingarena/sandbox/server.py
!turingarena/sandbox/source.py
!turingarena/tests/__init__.py
!turingarena/tests/cli.py
!turingarena/web/__init__.py
!turingarena/web/cgievaluate.py
!turingarena/web/formevaluate.py
!turingarena/web/hyperevaluate.py
!turingarena/web/serve.py
!turingarena/web/wsgievaluate.py
!web/.eslintrc.js
!web/.neutrinorc.js
!web/package.json
!web/src/App.css
!web/src/App.jsx
!web/src/ProblemView.jsx
!web/src/index.jsx
!web/yarn.lock
