{% import "macro.cpp.j2" as macro %}

{% include "driver/support_proto.h" %}

// Driver entry points

{% for function in task.functions.values() %}
  {{ macro.function_signature(function) }};
{% endfor %}

// Interface RPCs

{% for interface in task.interfaces.values() %}
  // RPC with interface {{interface.name}}

  // Downward calls

  {% for function in interface.functions.values() -%}
    {{ macro.algorithm_function_signature(function, "call_") }};
  {% endfor %}

  // Upward call

  {% for function in interface.callback_functions.values() -%}
    {{ macro.algorithm_function_signature(function, "on_") }};
  {% endfor %}

{% endfor %}
