{% import "macro.cpp.j2" as macro %}

#include <bits/stdc++.h>
#include "driver.h"

{% include "driver_support_proto.cpp" %}

{% for interface in task.interfaces.values() %}
    {{ macro.generate_protocol(
        interface.functions.values(),
        interface.callback_functions.values(),
        driver=True,
        suffix="_" + interface.name) }}
{% endfor %}

int main() {

}
