{% macro parameter(p) -%}
{{p.type}} {{p.name}}
{%- endmacro %}

{% macro parameters_signature(function) -%}
  {%- set comma = joiner(", ") -%}
  {%- for p in function.parameters.values() %}{{comma()}}{{parameter(p)}}{% endfor -%}
{%- endmacro %}

{% macro function_signature(function) -%}
  {{function.return_type}} {{function.name}}({{parameters_signature(function)}})
{%- endmacro %}

{% macro interface_parameters_signature(function) -%}
  int algorithm_id
  {%- for p in function.parameters.values() %}, {{parameter(p)}}{% endfor -%}
{%- endmacro %}

{% macro interface_function_signature(function) -%}
  {{function.return_type}} {{function.name}}({{interface_parameters_signature(function)}})
{%- endmacro %}
