{% import "macro.cpp.j2" as macro %}

#include <bits/stdc++.h>

{% include "supervisor_proto.h" %}

{% for function in task.functions.values() -%}
{{ macro.function_prototype(function) }}
{% endfor %}
