{% macro parameters_prototype(function) -%}
  {%- for parameter in function.parameters.values() -%}
    {%- if not loop.first -%}{{' '}}{%- endif -%}
      {{parameter.type}} {{parameter.name}}
    {%- if not loop.last -%} , {%- endif -%}
  {%- endfor -%}
{%- endmacro %}

{% macro function_prototype(function) -%}
  {{function.return_type}} {{function.name}}({{parameters_prototype(function)}});
{%- endmacro %}

{% macro receive_call(function) %}
void receive_call_{{function.name}}() {
    {% for parameter in function.parameters.values() %}
    {{parameter.type}} {{parameter.name}};
    fscanf(INPUT_PIPE, " %d", &{{parameter.name}});
    {%- endfor %}
  
    {{function.return_type}} result = {{function.name}}(
    {%- for parameter in function.parameters.values() -%}
    {{parameter.name}}
    {%- if not loop.last -%} , {%- endif -%}
    {%- endfor -%}
    );
  
    fprintf(OUTPUT_PIPE, "%s\n", "return");
    fprintf(OUTPUT_PIPE, "%d\n", result);
}
{% endmacro %}

{% macro receive_set_global(variable) %}
void receive_set_global_{{variable.name}}() {
    fscanf(INPUT_PIPE, " %d", &{{variable.name}});
}
{% endmacro %}

{% macro process_callback(callbacks) %}
    {
        char callback_name[51];
        fscanf(INPUT_PIPE, "%50s", callback_name);
        {% for callback in callbacks -%}
        if(!strcmp(callback_name, "{{callback.name}}")) {
            receive_call_{{callback.name}}();
        }
        {% endfor %}
    }
{% endmacro %}

{% macro process_set_global(variables) %}
    {
        char variable_name[51];
        fscanf(INPUT_PIPE, "%50s", variable_name);
        {% for variable in variables -%}
        if(!strcmp(variable_name, "{{variable.name}}")) {
            receive_set_global_{{variable.name}}();
        }
        {% endfor %}
    }
{% endmacro %}

{% macro process_command(return_type, callbacks, variables) %}
    while(1) {
        char command[51];
        fprintf(stderr, "Reading from %p\n", INPUT_PIPE);
        assert(fscanf(INPUT_PIPE, "%50s", command));
        fprintf(stderr, "%s\n", command);
        if(!strcmp(command, "return")) {
            {{return_type}} result;
            fscanf(INPUT_PIPE, " %d", &result);
            return result;
        }
        
        if(!strcmp(command, "call")) {
            {{process_callback(callbacks)}}
        }
        
        if(!strcmp(command, "set")) {
            {{process_set_global(variables)}}
        }
    }
{% endmacro %}

{% macro callback(function, callbacks, variables) %}
{{function.return_type}} {{function.name}}({{parameters_prototype(function)}}) {
    fprintf(OUTPUT_PIPE, "%s\n", "call");
    fprintf(OUTPUT_PIPE, "%s\n", "{{function.name}}");

    fprintf(stderr, "%s\n", "call");
    fprintf(stderr, "%s\n", "{{function.name}}");

    {% for parameter in function.parameters.values() %}
    fprintf(OUTPUT_PIPE, "%d\n", {{parameter.name}});
    fprintf(stderr, "%d\n", {{parameter.name}});
    {%- endfor %}
    
    {{ process_command(function.return_type, callbacks, variables) }}
}
{% endmacro %}

{% macro set_global(variable) %}
void set_global_{{variable.name}}({{variable.type}} value) {
    fprintf(OUTPUT_PIPE, "%s\n", "set");
    fprintf(OUTPUT_PIPE, "%s\n", "{{variable.name}}");
    fprintf(OUTPUT_PIPE, "%d\n", value);
}

{% endmacro %}
