{% import "macro.cpp.jinja2" as macro %}

#include <bits/stdc++.h>

FILE* get_input_pipe();
FILE* get_output_pipe();

#define INPUT_PIPE (get_input_pipe())
#define OUTPUT_PIPE (get_output_pipe())

{% for algorithm in interface.algorithms.values() %}
  {% for function in algorithm.callback_functions.values() -%}
  {{ macro.function_prototype(function) }}
  {% endfor %}
  
  {% for function in algorithm.callback_functions.values() -%}
  {{ macro.receive_call(function) }}
  {% endfor %}
  
  {% for variable in algorithm.variables.values() -%}
  {{ macro.set_global(variable) }}
  {% endfor %}
  
  {% for function in algorithm.functions.values() -%}
  {{ macro.callback(function, algorithm.callback_functions.values(), []) }}
  {% endfor %}
{% endfor %}
