{% import "macro.cpp.j2" as macro %}

{% include "supervisor_proto.cpp" %}

#define INPUT_PIPE (get_input_pipe())
#define OUTPUT_PIPE (get_output_pipe())

{% for interface in task.interfaces.values() %}
  {% for function in interface.callback_functions.values() -%}
  {{ macro.function_prototype(function) }}
  {% endfor %}
  
  {% for function in interface.callback_functions.values() -%}
  {{ macro.receive_call(function) }}
  {% endfor %}
  
  {% for variable in interface.variables.values() -%}
  {{ macro.set_global(variable) }}
  {% endfor %}
  
  {% for function in interface.functions.values() -%}
  {{ macro.callback(function, interface.callback_functions.values(), []) }}
  {% endfor %}
{% endfor %}

{% for function in task.functions.values() -%}
{{ macro.receive_call(function) }}
{% endfor %}

{% for variable in task.variables.values() -%}
{{ macro.receive_set_global(variable) }}
{% endfor %}

int main() {
    // FIXME
    // set_active_algorithm(open_file("evaluate"));
    {{ macro.process_command('int', task.functions.values(), task.variables.values()) }}
}
