{% import "macro.cpp.j2" as macro %}

#include "header.h"

// Functions to implement
{% for function in interface.functions.values() -%}
{{ macro.function_signature(function) }} {
    // TODO: implement
    return 42;
}
{% endfor %}
