{% macro parameter(p) -%}
{{p.type}} {{p.name}}
{%- endmacro %}


{% macro parameters_signature(function) -%}
  {%- set comma = joiner(", ") -%}
  {%- for p in function.parameters.values() %}{{comma()}}{{parameter(p)}}{% endfor -%}
{%- endmacro %}


{% macro function_signature(function, prefix='') -%}
  {{function.return_type}} {{prefix}}{{function.name}}({{parameters_signature(function)}})
{%- endmacro %}


{% macro algorithm_parameters_signature(function) -%}
  int algorithm_id
  {%- for p in function.parameters.values() %}, {{parameter(p)}}{% endfor -%}
{%- endmacro %}


{% macro algorithm_function_signature(function, prefix='') -%}
  {{function.return_type}} {{prefix}}{{function.name}}({{algorithm_parameters_signature(function)}})
{%- endmacro %}


{% macro generate_read_data(variables, driver=False) %}
    {% if driver %}
    support_trace("reading arguments\n");
    {% else %}
    support_trace("reading arguments\n");
    {% endif %}

    {% for v in variables %}
    {{v.type}} {{v.name}};

    {% if driver %}
        support_trace("reading variable %s %s\n", "{{v.type}}", "{{v.name}}");
        fscanf(algorithm_upward_pipe(algorithm_id), " %d", &{{v.name}});
    {% else %}
        support_trace("reading variable %s %s\n", "{{v.type}}", "{{v.name}}");
        scanf(" %d", &{{v.name}});
    {% endif %}

    {% endfor %}
{% endmacro %}


{% macro generate_write_data(variables, driver=False) %}
    {% if driver %}
    support_trace("writing arguments\n");
    {% else %}
    support_trace("writing arguments\n");
    {% endif %}

    {% for v in variables %}

    {% if driver %}
        support_trace("writing variable %s: %d\n", "{{v.name}}", {{v.name}});
        fprintf(algorithm_downward_pipe(algorithm_id), "%d\n", {{v.name}});
    {% else %}
        support_trace("writing variable %s: %d\n", "{{v.name}}", {{v.name}});
        printf("%d\n", {{v.name}});
    {% endif %}

    {% endfor %}
{% endmacro %}

{% macro generate_read_retval(driver=False) %}
int retval;

{% if driver %}
fscanf(algorithm_upward_pipe(algorithm_id), " %d", &retval);
{% else %}
scanf(" %d", &retval);
{% endif %}

return retval;
{% endmacro %}


{% macro generate_write_retval(driver=False) %}

{% if driver %}
fprintf(algorithm_downward_pipe(algorithm_id), "return %d\n", retval);
{% else %}
printf("return %d\n", retval);
{% endif %}

{% endmacro %}


{% macro generate_protocol(functions, callbacks, driver=False, interface_name="") %}

{% for callback in callbacks %}

{% if driver %}
void accept_callback_{{interface_name}}_{{callback.name}}(int algorithm_id) {
{% else %}
void accept_callback_{{callback.name}}() {
{% endif %}
    support_trace("received callback %s\n", "{{callback.name}}");

    {{ generate_read_data(callback.parameters.values(), driver=driver) }}
    {% if driver %}
    support_trace("calling function in this process %s\n", "on_{{callback.name}}");
    int retval = on_{{callback.name}}(algorithm_id{% for p in callback.parameters.values() %}, {{p.name}}{% endfor %});
    {% else %}
    {% set comma = joiner(", ") %}
    support_trace("calling function in this process %s\n", "{{callback.name}}");
    int retval = {{callback.name}}({% for p in callback.parameters.values() %}{{ comma() }}{{p.name}}{% endfor %});
    {% endif %}
    {{ generate_write_retval(driver=driver) }}
}
{% endfor %}

{% if driver %}
void accept_any_callback_{{interface_name}}(int algorithm_id) {
{% else %}
void accept_any_callback() {
{% endif %}
    char callback_name[51] = { 0 };
    support_trace("reading callback name\n");

    {% if driver %}
    fscanf(algorithm_upward_pipe(algorithm_id), "%50s", callback_name);
    {% else %}
    scanf("%50s", callback_name);
    {% endif %}

    {% for callback in callbacks %}
    if(!strcmp(callback_name, "{{callback.name}}")) {
        {% if driver %}
        accept_callback_{{interface_name}}_{{callback.name}}(algorithm_id);
        {% else %}
        accept_callback_{{callback.name}}();
        {% endif %}

        return;
    }
    {% endfor %}

    support_trace("unrecognized callback: %s\n", callback_name);
    assert(0 && "Unrecognized callback");
}

{% if driver %}
void accept_callbacks_{{interface_name}}(int algorithm_id) {
{% else %}
void accept_callbacks() {
{% endif %}
    while(1) {
        char command[51] = { 0 };
        support_trace("waiting for call/return\n");

        {% if driver %}
        fscanf(algorithm_upward_pipe(algorithm_id), "%50s", command);
        {% else %}
        scanf("%50s", command);
        {% endif %}

        if(!strcmp(command, "return")) {
            break;
        } else if(!strcmp(command, "call")) {
            {% if driver %}
            accept_any_callback_{{interface_name}}(algorithm_id);
            {% else %}
            accept_any_callback();
            {% endif %}
        } else {
            support_trace("unrecognized command: %s\n", command);
            assert(0 && "Unrecognized command");
        }
    }
}

{% for function in functions %}
    {{ algorithm_function_signature(function, "call_" if driver else "") }} {
        {% if driver %}
        fprintf(algorithm_downward_pipe(algorithm_id), "%s\n", "call");
        fprintf(algorithm_downward_pipe(algorithm_id), "%s\n", "{{function.name}}");
        {% else %}
        printf("%s\n", "call");
        printf("%s\n", "{{function.name}}");
        {% endif %}

        {{ generate_write_data(function.parameters.values(), driver=driver) }}

        {% if driver %}
        accept_callbacks_{{interface_name}}(algorithm_id);
        {% else %}
        accept_callbacks();
        {% endif %}

        {{ generate_read_retval(driver=driver) }}
    }
{% endfor %}

{% endmacro %}
