{% extends "base.html" %}
{% set title = "Problems available" %}
{% block body %}
    <div id="problems">
        <table class="table">
            <tr>
                <th>Problem name</th>
{#                <th>Goals</th>#}
            </tr>
            {% for problem in problems %}
                <tr class="table-{{ problem["status"] }}">
                    <td><a href="{{ url_for("problem.problem_view", name=problem["name"]) }}">{{ problem["title"] }}</a></td>
{#                    <td>{{ problem["goals"] }} / {{ problem["n_goals"] }}</td>#}
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}