<!doctype html>
<html>
<head>
    <title>TuringArena registration page</title>
</head>
<body>
    <h1>TuringArena registration page</h1>
    <h3>Request here your credential to submit to TuringArena</h3>
    <form method="post">
        <label>Username: <input type="text" name="username"></label><br>
        <label>First name: <input type="text" name="first_name"></label><br>
        <label>Last name: <input type="text" name="last_name"></label><br>
        <label>Email: <input type="text" name="email"></label><br>
        <label>Password: <input type="password" name="password"></label><br>
        <label>Repeat password: <input type="password" name="password2"></label><br>
        <button type="submit">Login</button>
    </form>
</body>
</html>
