{% extends "base.html" %}
{% set title = "Scoreboard for " + contest.name %}
{% block header %}{% endblock %}
{% block head %}
    <meta http-equiv="refresh" content="10">
{% endblock %}
{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>Username</th>
            <th>Solved problems</th>
            <th>Acquired goals</th>
        </tr>
        </thead>
        {% for row in contest.scoreboard %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}