{% extends "base.html" %}
{% block head %}
    {% if not end %}
        {# TODO: dymaically get evaluation events via some JavaScript code #}
        <meta http-equiv="refresh" content="1">
    {% endif %}
{% endblock %}
{% block body %}
    <div id="evaluation_output">
        <h3>Evaluation output</h3>
        <pre>
            {%- for event in events -%}
                {{ event.data | safe }}
            {%- endfor -%}
        </pre>
    </div>
    <hr>
    <div id="goals">
        <h3>Your goals</h3>
        <table class="table">
            <tr>
                <th>Goal</th>
                <th>Result</th>
            </tr>
            {% for goal, value in goals.items() %}
                {% if value %}
                    <tr class="table-success">
                {% else %}
                    <tr class="table-danger">
                {% endif %}
                        <td>{{ goal.name }}</td>
                        <td>{% if value %} 👌 {% else %} 🙁 {% endif %}</td>
                    </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
