<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{ title }} submission</title>
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
            integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
            crossorigin="anonymous">
</head>
<body>
    <h1>Submission to problem {{ title }}</h1>
    <div id="evaluation_output">
        <h3>Evaluation output</h3>
        <pre>
            {% for event in events -%}
                {{ event.data | safe }}
            {% endfor %}
        </pre>
    </div>
    <hr>
    <div id="goals">
        <h3>Your goals</h3>
        <table>
            {% for goal in goals %}
                <tr>
                    <td>{{ goal.name }}</td>
                    <td>{% if goal.acquired %} 👌 {% else %} ☹️ {% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>