@import "node_modules/bootstrap/scss/bootstrap";

.topbar {
  display: flex;
  background-color: #0275d8;
  align-items: center;
  padding: 8px;
  color: #fff;
}

.contest-title {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin: 0;
  margin-right: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: inherit;
  white-space: nowrap;
}

.contest-title > a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.user-display-name,
.login,
.logout {
  margin-right: 1em;
}

.user-display-name {
  margin-left: auto;
}

.user-login,
.user-logout {
  @extend .btn, .btn-sm, .btn-light;
}

.contest-main {
  flex: 1;
  display: flex;
  overflow: hidden;
}

.contest-aside {
  flex: 0 0 auto;
  padding: 16px;
  order: -1;
  width: 16em;
  background-color: #f8f9fa;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.contest-aside h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 0 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.contest-aside ol {
  padding: 0;
  list-style: none;
}

.contest-score-panel {
  text-align: right;
  font-size: 2rem;
  margin-bottom: 16px;
}

.contest-score {
  font-size: 4rem;
}

.contest-clock {
  font-size: 2rem;
  text-align: right;
  margin-bottom: 16px;

  &.ended-by-time {
    @extend .text-danger;
  }
}

.contest-problem {
  display: block;
  text-transform: uppercase;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  margin: 0 -16px;
  padding: 0.5rem 16px;

  &:hover {
    text-decoration: none;
  }

  &.active {
    color: #fff;
    background-color: #007bff;
  }
}

.contest-problem-score {
  @extend .badge, .badge-pill;

  margin-top: 0.2rem;
  float: right;

  &.zero {
    @extend .badge-light;
    border: 1px solid #ccc;
  }

  &.full {
    @extend .badge-success;
  }

  &.partial {
    @extend .badge-warning;
  }
}

.problem-aside {
  flex: 0 0 auto;
  padding: 16px;
  order: -1;
  width: 15em;
  background-color: #f8f9fa;

  overflow-y: auto;
}

.problem-aside h2 {
  text-transform: uppercase;
  font-size: 1.125rem;
  margin: 0 0 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.problem-submission-panel {
  margin-bottom: 16px;
}

.problem-submit {
  @extend .btn, .btn-block, .btn-primary;
}

.problem-last-submission,
.problem-submission-list {
  @extend .btn, .btn-block, .btn-outline-primary;
}

.problem-awards {
  padding: 0;
  list-style: none;

  margin-bottom: 16px;
}

.problem-award {
  margin: 0 -16px;
  padding: 0 16px;

  &:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  &:nth-of-type(even) {
    background-color: rgba(0, 0, 0, 0.02);
  }
}

.problem-award-badge {
  @extend .contest-problem-score;
}

.problem-attachments {
  margin-bottom: 16px;
}

.problem-attachment,
.problem-download-statement {
  display: block;
  color: inherit;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &:hover {
    text-decoration: none;
  }
}

.problem-statement {
  flex: 1 1 100%;
  align-items: stretch;
  border: none;
  box-shadow: inset 4px 4px 4px -2px rgba(0, 0, 0, 0.1);
}
