<ng-container *ngIf="contestQuery.valueChanges | async as contestResult">
  <ng-container *ngIf="contestResult.data as data">
    <ng-container *ngIf="stateObservable | async as state">
      <nav class="nav">
        <h1 class="contest_title"><a href="#" (click)="selectedProblemName = undefined; $event.preventDefault()">
            {{data.contestView.contestTitle}}
          </a></h1>
        <ng-container *ngIf="data.contestView.user">
          <span class="user_display_name">{{data.contestView.user.displayName}}</span>
          <button class="logout" (click)="setAuth(undefined)">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
            Logout
          </button>
        </ng-container>
        <ng-container *ngIf="!data.contestView.user">
          <span class="user_display_name"></span>
          <button class="login" (click)="openLoginDialog()">
            <fa-icon [icon]="faSignInAlt"></fa-icon>
            Login
          </button>
        </ng-container>
      </nav>
      <div class="contest_main">
        <nav class="contest_nav">
          <ng-container *ngIf="state.hasScore">
            <h2>Score</h2>
            <div class="contest_score_container">
              <span class="contest_score_display score" [class.score_zero]="state.score <= 0"
                [class.score_partial]="0 < state.score && state.score < state.maxScore"
                [class.score_full]="state.maxScore <= state.score">
                <span class="contest_score">
                  {{ state.score.toFixed(state.precision) }}
                </span>/<span class="contest_max_score">
                  {{ state.maxScore.toFixed(state.precision) }}
                </span>
              </span>
            </div>
          </ng-container>
          <ng-container *ngIf="nowObservable | async as now">
            <ng-container *ngIf="state.startTime <= now && now <= state.endTime">
              <h2>Remaining Time</h2>
              <div class="contest_remaining_time">
                {{ formatDuration(state.endTime.diff(now)) }}
              </div>
            </ng-container>
            <ng-container *ngIf="now < state.startTime">
              <h2>Starting In</h2>
              <div class="contest_starting_in">
                {{ formatDuration(state.startTime.diff(now)) }}
              </div>
            </ng-container>
            <ng-container *ngIf="state.endTime < now">
              <h2>Ended</h2>
              <div class="contest_ended_by">
                {{ formatDuration(now.diff(state.endTime)) }}
              </div>
            </ng-container>
          </ng-container>
          <h2>Tasks</h2>
          <ol class="contest_tasks_nav_container">
            <li *ngFor="let problem of data.contestView.problems" class="task_list_item">
              <a href="#" class="task_link" [class.active]="problem.name === selectedProblemName"
                (click)="selectedProblemName = problem.name; $event.preventDefault()">
                <ng-container *ngIf="state.getProblemState(problem) as problemState">
                  <span class="task_score_badge score" [class.score_zero]="problemState.score <= 0"
                    [class.score_partial]="0 < problemState.score && problemState.score < problemState.maxScore"
                    [class.score_full]="problemState.maxScore <= problemState.score">
                    <span class="task_score">
                      {{ problemState.score.toFixed(problemState.precision) }}
                    </span>/<span class="task_max_score">
                      {{ problemState.maxScore.toFixed(problemState.precision) }}
                    </span>
                  </span>
                </ng-container>
                <span class="task_short_title">{{ problem.material.title[0].value }}</span>
              </a>
            </li>
          </ol>
        </nav>
        <ng-container *ngFor="let problem of data.contestView.problems">
          <main class="task_main" *ngIf="selectedProblemName === problem.name">
            <div class="task_header">
              <h2 class="task_title">{{ problem.material.title[0].value }}</h2>
              <div *ngIf="problem.canSubmit" class="task_submit_container">
                <a href="#" class="task_submit_start" (click)="openSubmitDialog(); $event.preventDefault()">
                  <fa-icon [icon]="faPaperPlane"></fa-icon>
                  Submit a solution
                </a>
              </div>
              <div *ngIf="problem.submissions as submissions">
                <div *ngIf="submissions[submissions.length-1] as lastSubmission" class="task_last_submission_container">
                  <span class="task_last_submission">
                    <span class="task_last_submission_label">Last submission: </span>
                    <app-relative-time [time]="lastSubmission.createdAt"></app-relative-time>
                    (<a class="task_explore_submissions" href="#"
                      (click)="openSubmissionList(problem); $event.preventDefault()">explore
                      submissions</a>)
                  </span> | <span class="task_best_scores_label">Score breakdown: </span>
                  <ng-container *ngFor="let award of problem.material.awards">
                    <ng-container *ngIf="state.getProblemState(problem).getAwardState(award) as state">
                      <ng-container *ngIf="award.content.range as range">
                        <ng-template #tipContent>
                          {{award.title[0].value}}: <span
                            class="badge badge-info">+{{range.max.toFixed(range.precision)}} pts</span>
                        </ng-template>
                        <ng-container *ngIf="state.badge > 0">
                          <span [ngbTooltip]="tipContent" class="award_badge"
                            [class.score_partial]="0 < state.score && state.score < range.max"
                            [class.score_full]="range.max <= state.score">
                            {{ state.score.toFixed(range.precision) }}
                          </span>
                        </ng-container>
                        <ng-container *ngIf="state.badge <= 0">
                          <span [ngbTooltip]="tipContent" class="award_badge score_zero">
                            <!-- cross mark -->
                            &#x2717;
                          </span>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="!award.content.range">
                        <ng-template #tipContent>
                          {{award.title[0].value}}
                        </ng-template>
                        <ng-container *ngIf="state.badge">
                          <span [ngbTooltip]="tipContent" class="award_badge score_full">
                            <!-- check mark -->
                            &#x2713;
                          </span>
                        </ng-container>
                        <ng-container *ngIf="!state.badge">
                          <span [ngbTooltip]="tipContent" class="award_badge score_zero">
                            <!-- cross mark -->
                            &#x2717;
                          </span>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </ng-container>
                </div>
              </div>
            </div>
            <ng-container *ngIf="problem.material.statement[0] as statement">
              <iframe class="task_statement_html"
                [attr.src]="'data:' + statement.type + ';base64,' + statement.content.base64 | bypassSanitizer:'ResourceUrl'">
              </iframe>
              <div>
                <span class="task_download_statement_label">Download statement: </span>
                <a [download]="statement.name"
                  [href]="'data:' + statement.type + ';base64,' + statement.content.base64 | bypassSanitizer:'Url'">
                  {{statement.name}}
                </a> | <span class="task_download_attachments_label">Attachments: </span>
                <a *ngFor="let attachment of problem.material.attachments; last as last"
                  [download]="attachment.file[0].name"
                  [href]="'data:' + (attachment.file[0].type || 'application/octet-stream') + ';base64,' + attachment.file[0].content.base64 | bypassSanitizer:'Url'">
                  {{attachment.title[0].value}}
                  <ng-container *ngIf="!last"> | </ng-container>
                </a>
              </div>
            </ng-container>
          </main>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
