<ng-container *ngIf="contestQuery.valueChanges | async as contestResult">
  <ng-container *ngIf="contestResult.data as contest">
    <ng-container *ngIf="stateObservable | async as state">
      <nav class="nav">
        <h1 class="contest_title"><a href="#" (click)="selectedProblemName = undefined; $event.preventDefault()">CONTEST
            NAME</a></h1>
        <span class="user_display_name">{{contest.user.displayName}}</span>
        <button class="logout">Logout</button>
      </nav>
      <div class="contest_main">
        <nav class="contest_nav">
          <h2>Score</h2>
          <div class="contest_score_container">
            <span class="contest_score_display score" [class.score_zero]="state.score <= 0"
              [class.score_partial]="0 < state.score && state.score < state.maxScore"
              [class.score_full]="state.maxScore <= state.score">
              <span class="contest_score">
                {{ state.score.toFixed(state.precision) }}
              </span>/<span class="contest_max_score">
                {{ state.maxScore.toFixed(state.precision) }}
              </span>
            </span>
          </div>
          <h2>Remaining Time</h2>
          <div class="contest_remaining_time">
            02:49:53
          </div>
          <h2>Tasks</h2>
          <ol class="contest_tasks_nav_container">
            <li *ngFor="let problem of contest.problems" class="task_list_item">
              <ng-container *ngIf="state.getProblemState(problem) as problemState">
                <a href="#" class="task_link" [class.active]="problem.name === selectedProblemName"
                  (click)="selectedProblemName = problem.name; $event.preventDefault()">
                  <span class="task_short_title">{{ problem.material.title[0].value }}</span>
                  <span class="task_score_badge score" [class.score_zero]="problemState.score <= 0"
                    [class.score_partial]="0 < problemState.score && problemState.score < problemState.maxScore"
                    [class.score_full]="problemState.maxScore <= problemState.score">
                    <span class="task_score">
                      {{ problemState.score.toFixed(problemState.precision) }}
                    </span>/<span class="task_max_score">
                      {{ problemState.maxScore.toFixed(problemState.precision) }}
                    </span>
                  </span>
                </a>
              </ng-container>
            </li>
          </ol>
        </nav>
        <ng-container *ngFor="let problem of contest.problems">
          <main class="task_main" *ngIf="selectedProblemName === problem.name">
            <div class="task_header">
              <h2 class="task_title">{{ problem.material.title[0].value }}</h2>
              <div class="task_submit_container">
                <a href="#" class="task_submit_start" (click)="openSubmitDialog(); $event.preventDefault()">Submit a
                  solution</a>
              </div>
              <div>
                <span *ngFor="let scorable of problem.material.scorables; last as last">
                  {{scorable.title[0].value}}:
                  {{state.getProblemState(problem).getScorableState(scorable).score.toFixed(scorable.range.precision)}}
                  /
                  {{scorable.range.max.toFixed(scorable.range.precision)}}
                  <span *ngIf="!last"> | </span>
                </span>
              </div>
              <!--
              <div *ngIf="lastSubmission as submission" class="task_last_submission_container">
                <span class="task_last_submission">
                  <span class="task_last_submission_label">Last submission: </span>
                  <app-relative-time [time]="submission.timestamp"></app-relative-time>
                  (<a class="task_explore_submissions" href="#" (click)="openSubmissions()">explore
                    submissions</a>)
                </span>
              </div>
              -->
            </div>
            <ng-container *ngIf="problem.material.statement[0] as statement">
              <a download [href]="getDataURL(statement)">Download</a>
              <iframe class="task_statement_html" [attr.src]="getDataResourceURL(statement)">
              </iframe>
            </ng-container>
            <div>
              <a *ngFor="let attachment of problem.material.attachments" download
                [href]="getDataURL(attachment.file[0])">
                {{attachment.title[0].value}}
              </a>
            </div>
          </main>
        </ng-container>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
