@import "node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

div {
  margin: 0;
  padding: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

abbr {
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}

html {
  min-height: 100%;
}

app-root,
body,
html {
  flex-direction: column;
}

app-root,
.contest_main,
body,
html {
  flex: 1 0 100%;
  display: flex;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.nav {
  display: flex;
  background-color: #0275d8;
  align-items: center;
  padding: 8px;
  color: #fff;
}

.contest_title {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin: 0;
  margin-right: 1rem;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: inherit;
  white-space: nowrap;
}

.contest_title > a {
  color: white;
  text-decoration: none;
  background-color: transparent;
}

.user_display_name,
.login,
.logout {
  margin-right: 1em;
}

.user_display_name {
  margin-left: auto;
}

.login,
.logout {
  @extend .btn, .btn-sm, .btn-light;
}

.contest_nav {
  flex: 0 0 auto;
  padding: 16px;
  order: -1;
  width: 16em;
  background-color: #f8f9fa;
}

.contest_nav h2 {
  text-transform: uppercase;
  font-size: 1.25rem;
  margin: 0 0 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.contest_nav ol {
  padding: 0;
  list-style: none;
}

.contest_starting_in,
.contest_ended_by,
.contest_remaining_time {
  font-size: large;
  text-align: right;
  margin-bottom: 1rem;
}

.contest_ended_by {
  @extend .text-danger;
}

.task_main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  font-size: large;
}

.task_header {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 16px;
  font-size: large;
  background-color: #f8f9fa;
}

.task_title {
  font-size: 2.5rem;
  margin: 0 0 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.task_submit_container {
  display: flex;
  align-items: baseline;
}

.task_last_submission {
  font-size: 100%;
}

.task_submit_start {
  @extend .btn, .btn-success;
}

.task_explore_submissions {
  @extend .btn, .btn-outline-success;

  margin-left: 2pt;
}

.task_statement_html {
  flex: 1 1 100%;
  align-items: stretch;
  border: none;
  box-shadow: inset 4px 4px 4px -2px rgba(0, 0, 0, 0.1);
}

.task_last_submission_label,
.task_download_attachments_label,
.task_download_statement_label {
  font-weight: bold;
}

.tooltip.show {
  opacity: 1;
}

.award_badge {
  @extend .badge;

  margin-right: 1pt;
  cursor: pointer;

  &.score_zero {
    @extend .badge-light;

    border: 1px solid #ccc;
  }

  &.score_partial {
    @extend .badge-warning;
  }

  &.score_full {
    @extend .badge-success;
  }

  &:hover {
    opacity: 0.7;
  }
}

.contest_score_container {
  text-align: right;
}

.contest_score_display {
  font-size: 2rem;
}

.contest_score {
  font-size: 4rem;
}

.submission_file_label {
  display: block;
}

.submission_file_input {
  display: none;
}

.submission_file_choose_button {
  @extend .btn, .btn-primary;
}

.submission_file_info {
  display: flex;
  flex-flow: row wrap;
}

.submission_file_info > dt {
  margin-bottom: 0px;
  min-width: 6rem;
}

.submission_file_info > dd {
  margin-bottom: 0px;
  margin-left: -6rem;
  padding-left: 8rem;
  flex: 1 1 100%;
}

.submission_file_type_suggested_option {
  margin-right: 1rem;
}

.modal-body {
  max-height: calc(100vh - 260px);
  overflow-y: auto;
}

.submission_form_body {
  @extend .modal-body;
}

.submission_form_footer {
  @extend .modal-footer;
}

.submission_form_submit {
  @extend .btn, .btn-success;
}

.task_link {
  display: block;
  text-transform: uppercase;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 -16px;
  padding: 0.5rem 16px;
}

.task_link.active {
  color: #fff;
  background-color: #007bff;
}

.task_score_badge {
  @extend .badge, .badge-pill;

  margin-top: 0.2rem;
  float: right;

  &.score_full {
    @extend .badge-success;
  }

  &.score_partial {
    @extend .badge-warning;
  }

  &.score_zero {
    @extend .badge-light;

    border: 1px solid #ccc;
  }
}

.evaluation_modal_header {
  @extend .modal-header;
}

.login_modal_body,
.evaluation_modal_body {
  @extend .modal-body;
  padding: 0;
  max-height: calc(100vh - 260px);
  overflow-y: auto;
}

.login_modal_footer,
.evaluation_modal_footer {
  @extend .modal-footer;
}

.login_modal_submit_button,
.evaluation_modal_close_button {
  @extend .btn, .btn-primary;
}

.login_modal_close_button {
  @extend .btn, .btn-secondary;
}

.login_token_input_group {
  @extend .form-group;
  margin: 16px;
}

.login_token_input {
  @extend .form-control;
}
