@import "node_modules/bootstrap/scss/bootstrap";

* {
  box-sizing: border-box;
}

div {
  margin: 0;
  padding: 0;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

abbr {
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}

html {
  min-height: 100%;
}

app-root,
body,
html {
  display: block;
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Helvetica Neue, Arial, Noto Sans, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

.task_header {
  display: flex;
  flex-direction: column;
  width: 16em;
  padding: 16px;
  font-size: large;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #f8f9fa;
}

.task_title {
  font-size: 1.5rem;
  margin: 0 0 0.5rem;
  font-weight: 500;
  line-height: 1.2;
}

.task_submit_start {
  @extend .btn, .btn-success;
  margin-bottom: 16px;
}

.task_explore_submissions {
  @extend .btn, .btn-outline-success;

  margin-left: 2pt;
}

.task_statement_html {
  flex: 1 1 100%;
  align-items: stretch;
  border: none;
  box-shadow: inset 4px 4px 4px -2px rgba(0, 0, 0, 0.1);
}

.task_last_submission_label,
.task_download_attachments_label,
.task_download_statement_label {
  font-weight: bold;
}

.tooltip.show {
  opacity: 1;
}

.award_badge {
  @extend .badge;

  margin-right: 1pt;
  cursor: pointer;

  &.score_zero {
    @extend .badge-light;

    border: 1px solid #ccc;
  }

  &.score_partial {
    @extend .badge-warning;
  }

  &.score_full {
    @extend .badge-success;
  }

  &:hover {
    opacity: 0.7;
  }
}

.submission_file_label {
  display: block;
}

.submission_file_input {
  display: none;
}

.submission_file_choose_button {
  @extend .btn, .btn-primary;
}

.submission_file_info {
  display: flex;
  flex-flow: row wrap;
}

.submission_file_info > dt {
  margin-bottom: 0px;
  min-width: 6rem;
}

.submission_file_info > dd {
  margin-bottom: 0px;
  margin-left: -6rem;
  padding-left: 8rem;
  flex: 1 1 100%;
}

.submission_file_type_suggested_option {
  margin-right: 1rem;
}

.modal-body {
  max-height: calc(100vh - 260px);
  overflow-y: auto;
}

.submission_form_body {
  @extend .modal-body;
}

.submission_form_footer {
  @extend .modal-footer;
}

.submission_form_submit {
  @extend .btn, .btn-success;
}

.evaluation_modal_header {
  @extend .modal-header;
}

.login_modal_body,
.evaluation_modal_body {
  @extend .modal-body;
  padding: 0;
  max-height: calc(100vh - 260px);
  overflow-y: auto;
}

.login_modal_footer,
.evaluation_modal_footer {
  @extend .modal-footer;
}

.login_modal_submit_button,
.evaluation_modal_close_button {
  @extend .btn, .btn-primary;
}

.login_modal_close_button {
  @extend .btn, .btn-secondary;
}

.login_token_input_group {
  @extend .form-group;
  margin: 16px;
}

.login_token_input {
  @extend .form-control;
}
