@import "node_modules/bootstrap/scss/bootstrap";

.submission-dialog-header {
  @extend .modal-header;
}

.submission-dialog-body {
  @extend .modal-body;
  padding: 0;
  max-height: calc(100vh - 260px);
  overflow-y: auto;
}

.submission-pending {
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.submission-dialog-footer {
  @extend .modal-footer;
}

.submission-dialog-close {
  @extend .btn, .btn-primary;
}

.cell-time-usage,
.cell-memory-usage {
  text-align: right;
}

.evaluation_table {
  @extend .table, .table-sm;
}

.evaluation_table_header {
  text-align: center;
}

.evaluation_group {
  @extend .thead-light;
}

.message_cell {
  font-size: small;
}

.score_cell {
  font-weight: bold;
}

.row_status.success {
  @extend .table-success;
}

.row_status.fail {
  @extend .table-danger;
}

.row_status.skip {
  @extend .table-secondary;
}

.cell-valence {
  &.failure {
    @extend .table-danger;
  }
  &.warning {
    @extend .table-warning;
  }
  &.partial {
    @extend .table-warning;
  }
  &.success {
    @extend .table-success;
  }
}
