<ng-container *ngIf="appComponent.contestQuery.valueChanges | async as contestResult">
  <ng-container *ngIf="contestResult.data as contest">
    <ng-container *ngFor="let problem of contest.problems">
      <ng-container *ngIf="problem.name === problemName">
        <div class="evaluation_modal_header">
          Evaluation
        </div>
        <div class="evaluation_modal_body">
          <ng-container *ngIf="recordObservable | async as record">
            <ng-container *ngFor="let section of problem.material.feedback">
              <ng-container [ngSwitch]="section.__typename">
                <table *ngSwitchCase="'TableSection'" class="evaluation_table">
                  <thead>
                    <tr>
                      <th [colSpan]="section.cols.length">
                        {{ section.caption[0].value }}
                      </th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let group of section.rowGroups; index as i" class="evaluation_group">
                    <tr>
                      <th [colSpan]="section.cols.length">
                        {{ group.title[0].value }}
                      </th>
                    </tr>
                    <tr class="group_header_row">
                      <ng-container *ngFor="let col of section.cols; index as i">
                        <ng-container [ngSwitch]="col.content.__typename">
                          <td *ngSwitchDefault="">
                            {{ col.title[0].value }}
                          </td>
                        </ng-container>
                      </ng-container>
                    </tr>
                    <tr *ngFor="let row of group.rows" class="evaluation_row">
                      <ng-container *ngFor="let col of section.cols; index as i">
                        <ng-container *ngIf="row.cells[i] as cell" [ngSwitch]="cell.content.__typename">
                          <td *ngSwitchCase="'RowNumberCellContent'" class="score_cell">
                            {{ cell.content.number }}
                          </td>
                          <td *ngSwitchCase="'RowTitleCellContent'" class="score_cell">
                            {{ cell.content.title[0].value }}
                          </td>
                          <td *ngSwitchCase="'ScoreCellContent'" class="score_cell">
                            <ng-container *ngIf="record[cell.content.ref] as value">
                              {{ value.score.toFixed(cell.content.range.precision) }}
                            </ng-container>
                            <ng-container *ngIf="!record[cell.content.ref]">
                              ...
                            </ng-container>
                            / {{ col.content.range.max.toFixed(cell.content.range.precision) }}
                          </td>
                          <td *ngSwitchDefault="">
                            ?
                          </td>
                        </ng-container>
                      </ng-container>
                    </tr>
                  </tbody>
                </table>
              </ng-container>
            </ng-container>
          </ng-container>
        </div>
        <div class="evaluation_modal_footer">
          <button (click)="activeModal.close()" class="evaluation_modal_close_button">Close</button>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
