<ng-container *ngFor="let message of (messages | applyPure:reverse)">
  <div class="message">
    <div class="message-header">
      <strong class="message-kind">
        <ng-container [ngSwitch]="message.kind">
          <ng-container *ngSwitchCase="'ANNOUNCEMENT'">Announcement</ng-container>
          <ng-container *ngSwitchCase="'FROM_USER'">Question</ng-container>
          <ng-container *ngSwitchCase="'TO_USER'">Answer</ng-container>
        </ng-container>
      </strong>
      <span class="message-time">
        <app-relative-time [time]="message.createdAt"></app-relative-time>
      </span>
    </div>
    <div class="message-body">
      <p class="message-content">{{message.text}}</p>
    </div>
  </div>
</ng-container>
