// Global input/output
{% for variable in algorithm.variables.values() -%}
extern {{variable.type}} {{variable.name}};
{% endfor %}

// Callback functions
{% for function in algorithm.callback_functions.values() -%}
{{function.return_type}} {{function.name}} (
  {%- for parameter in function.parameters.values() -%}
  {%- if not loop.first -%}{{' '}}{%- endif -%}
  {{parameter.type}} {{parameter.name}}
  {%- if not loop.last -%} , {%- endif -%}
  {%- endfor -%}
);
{% endfor %}

// Functions to implement
{% for function in algorithm.functions.values() -%}
{{function.return_type}} {{function.name}} (
  {%- for parameter in function.parameters.values() -%}
  {%- if not loop.first -%}{{' '}}{%- endif -%}
  {{parameter.type}} {{parameter.name}}
  {%- if not loop.last -%} , {%- endif -%}
  {%- endfor -%}
) {
    // TODO: implement
}
{% endfor %}
