#include <bits/stdc++.h>

{% for variable in algorithm.variables.values() -%}
{{variable.type}} {% for array_dimension in variable.array_dimensions %}*{% endfor %}{{variable.name}};

{% endfor %}

{% for function in algorithm.functions.values() -%}
{{function.return_type}} {{function.name}}(
    {%- for parameter in function.parameters.values() -%}
    {%- if not loop.first -%}{{' '}}{%- endif -%}
    {{parameter.type}} {{parameter.name}}
    {%- if not loop.last -%} , {%- endif -%}
    {%- endfor -%}
) {
    perform_call_{{function.name}}(
    {%- for parameter in function.parameters.values() -%}
    {%- if not loop.first -%}{{' '}}{%- endif -%}
    {{parameter.name}}
    {%- if not loop.last -%} , {%- endif -%}
    {%- endfor -%}
    )
}
{% endfor %}

int main() {
    {% for variable in algorithm.variables.values() -%}
    {% if variable.is_input -%}
    scanf(" %d", &{{variable.name}});
    {% endif -%}
    {% endfor %}
  
    {% for variable in algorithm.variables.values() -%}
    {% if variable.is_output -%}
    printf("%d\n", {{variable.name}});
    {% endif -%}
    {% endfor %}
}


