<ng-container *ngIf="appComponent.contestQuery.valueChanges | async as contestResult">
  <ng-container *ngIf="contestResult.data as data">
    <ng-container *ngFor="let problem of data.contestView.problems">
      <ng-container *ngIf="problem.name === problemName">
        <form class="submission_form" (submit)="$event.preventDefault(); submit($event)">
          <div class="submission_form_body">
            <div *ngFor="let field of problem.material.submissionForm.fields" class="submission_file_field">
              <ng-container *ngIf="fieldState(field) as state">
                <label class="submission_file_label" [for]="field.id + '.file'">{{ field.title | textVariant }}</label>
                <input class="submission_file_input" [id]="field.id + '.file'" [name]="field.id + '.file'" type="file"
                  (change)="fieldState(field).file = $event.target.files[0]" />
                <label class="submission_file_choose_button" [for]="field.id + '.file'">Choose file</label>
                <dl *ngIf="state.file as file" class="submission_file_info">
                  <dt>Name:</dt>
                  <dd>{{ file.name }}</dd>
                  <dt>Type:</dt>
                  <dd [ngSwitch]="state.typeChoices.type">
                    <ng-container *ngSwitchCase="'oneRecommended'">
                      {{ state.typeChoices.recommendedType!.title | textVariant }}
                      (<a href="#" class="submission_file_type_change"
                        (click)="state.moreTypes = true; $event.preventDefault()">change</a>)
                      <input type="hidden" [name]="field.id + '.type'"
                        [value]="state.typeChoices.recommendedType!.id" />
                    </ng-container>
                    <ng-container *ngSwitchCase="'manyRecommended'">
                      <label *ngFor="let type of state.typeChoices.recommendedTypes!"
                        class="submission_file_type_suggested_option">
                        <input type="radio" [name]="field.id + '.type'" [value]="type.id" />
                        {{ type.title | textVariant }}
                      </label>
                      (<a href="#" class="submission_file_type_more_options"
                        (click)="state.moreTypes = true; $event.preventDefault()">more...</a>)
                    </ng-container>
                    <select *ngSwitchCase="'custom'" [name]="field.id + '.type'" class="submission_file_type_select">
                      <option *ngFor="let type of state.typeChoices.allTypes" [value]="type.id">
                        {{ type.title | textVariant }}</option>
                    </select>
                  </dd>
                  <dt>Size:</dt>
                  <dd>{{ file.size | filesize }}</dd>
                </dl>
              </ng-container>
            </div>
          </div>
          <div class="submission_form_footer">
            <button class="submission_form_submit" [disabled]="submitting" type="submit">Submit</button>
          </div>
        </form>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
