<ng-container *ngIf="submissionListQuery.valueChanges | async as submissionListResult">
  <ng-container *ngIf="submissionListResult.data as data">
    <ng-container *ngIf="data.contestView.problem as problem">
      <ng-container *ngIf="getProblemState(problem) as problemState">
        <div class="modal-header">
          <h4 class="modal-title">Submissions</h4>
        </div>
        <div class="submissions_modal_body">
          <table class="submission_table">
            <thead class="submission_table_header">
              <tr>
                <th scope="col" rowspan="3">Submission</th>
                <th scope="col" [colSpan]="problem.material.awards.length">Score</th>
                <th scope="col" rowspan="2">Total score</th>
              </tr>
              <tr>
                <th *ngFor="let award of problem.material.awards">
                  {{ award.title | textVariant:'short' }}
                </th>
              </tr>
              <tr>
                <ng-container *ngFor="let award of problem.material.awards">
                  <ng-container *ngIf="award.content.range as range">
                    <th *ngIf="problemState.award(award) as state" class="submission_best_score score"
                      [class.score_zero]="state.score <= 0"
                      [class.score_partial]="0 < state.score && state.score < range.max"
                      [class.score_full]="range.max <= state.score">
                      <span>
                        {{ state.score.toFixed(award.precision) }}
                      </span>/<span>
                        {{ range.max.toFixed(award.precision) }}
                      </span>
                    </th>
                  </ng-container>
                  <ng-container *ngIf="!award.content.range">
                    <ng-container *ngIf="problemState.award(award) as state">
                      <th *ngIf="state.badge" class="submission_best_score score score_full">
                        <!-- check mark -->
                        &#x2713;
                      </th>
                      <th *ngIf="!state.badge" class="submission_best_score score score_zero">
                        <!-- cross mark -->
                        &#x2717;
                      </th>
                    </ng-container>
                  </ng-container>
                </ng-container>
                <th class="submission_best_total_score score" [class.score_zero]="getProblemState(problem).score <= 0"
                  [class.score_partial]="0 < getProblemState(problem).score && getProblemState(problem).score < getProblemState(problem).maxScore"
                  [class.score_full]="getProblemState(problem).maxScore <= getProblemState(problem).score">
                  <span>
                    {{ getProblemState(problem).score.toFixed(getProblemState(problem).precision) }}
                  </span>/<span>
                    {{ getProblemState(problem).maxScore.toFixed(getProblemState(problem).precision) }}
                  </span>
                </th>
              </tr>
            </thead>
            <tbody class="submission_table_body">
              <tr class="submission_row" *ngFor="let _ of problem.submissions; index as submissionIndex">
                <ng-container *ngIf="problem.submissions[problem.submissions.length-submissionIndex-1] as submission">
                  <td>
                    <app-relative-time [time]="submission.createdAt"></app-relative-time>
                    <br />
                    <a href="#" (click)="this.openDetail(submission); $event.preventDefault()">
                      details
                    </a>
                  </td>
                  <ng-container *ngIf="submission.status === 'SUCCESS'">
                    <ng-container *ngIf="getSubmissionState(problem, submission) as submissionState">
                      <ng-container *ngFor="let award of problem.material.awards">
                        <ng-container *ngIf="award.content.range as range">
                          <td *ngIf="submissionState.award(award) as state" class="submission_score score"
                            [class.score_zero]="state.score <= 0"
                            [class.score_partial]="0 < state.score && state.score < range.max"
                            [class.score_full]="range.max <= state.score">
                            <span class="submission_score">
                              {{ state.score.toFixed(range.precision) }}
                            </span>/<span class="submission_max_score">
                              {{ range.max.toFixed(range.precision) }}
                            </span>
                          </td>
                        </ng-container>
                        <ng-container *ngIf="!award.content.range">
                          <ng-container *ngIf="submissionState.award(award) as state">
                            <td *ngIf="state.badge" class="submission_score score score_full">
                              <!-- check mark -->
                              &#x2713;
                            </td>
                            <td *ngIf="!state.badge" class="submission_score score score_zero">
                              <!-- cross mark -->
                              &#x2717;
                            </td>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      <td class="submission_total_score score" [class.score_zero]="submissionState.score <= 0"
                        [class.score_partial]="0 < submissionState.score && submissionState.score < problemState.maxScore"
                        [class.score_full]="problemState.maxScore <= submissionState.score">
                        <span class="submission_total_score">
                          {{ submissionState.score.toFixed(problemState.precision) }}
                        </span>/<span class="submission_total_max_score">
                          {{ problemState.maxScore.toFixed(problemState.precision) }}
                        </span>
                      </td>
                    </ng-container>
                  </ng-container>
                  <ng-container *ngIf="submission.status === 'PENDING'">
                    <td [colSpan]="problem.material.awards.length + 1">Evaluating...</td>
                  </ng-container>
                </ng-container>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="submissions_modal_footer">
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</ng-container>
