<ag-grid-angular #grid class="contestants-grid ag-theme-balham" [animateRows]="true" rowSelection="multiple"
  [rowData]="data.contest.users"
  [columnDefs]="data.contest.problems | jsonPure | fromJson | applyPure:getColumnDefs:{ grading: grading }"
  [gridOptions]="gridOptions | gridOptions" (columnGroupOpened)="$event.api.sizeColumnsToFit()"
  (gridSizeChanged)="$event.api.sizeColumnsToFit()">
</ag-grid-angular>

<ng-template #grading let-value="value" let-eGridCell="eGridCell">
  <app-grading [appGrading]="value" [appGradingNativeElement]="eGridCell" [grading]="value">
  </app-grading>
</ng-template>
