{% import "macro.cpp.j2" as macro %}

#include <bits/stdc++.h>
#include "{{interface.name}}.h"

{{ macro.generate_protocol(interface.callback_functions.values(), interface.functions.values()) }}

int main() {
    accept_callbacks();
}
