<ng-container *ngIf="contestQuery.valueChanges | async as contestResult">
  <ng-container *ngIf="contestResult.data as data">
    <ng-container *ngIf="getContestState(data) as state">
      <nav class="topbar">
        <h1 class="contest-title">
          <a href="#" (click)="selectedProblemName = undefined; $event.preventDefault()">
            {{data.contestView.contestTitle}}
          </a>
        </h1>
        <ng-container *ngIf="data.contestView.user as user">
          <span class="user-display-name">{{user.displayName}}</span>
          <button class="user-logout" (click)="setAuth(undefined)">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
            Logout
          </button>
        </ng-container>
        <ng-container *ngIf="!data.contestView.user">
          <ng-template #loginDialog let-modal>
            <form class="login-form" (submit)="$event.preventDefault(); logIn($event, modal)">
              <div class="login-dialog-body">
                <label class="login-token-label" for="token">Token</label>
                <input class="login-token-input" id="token" name="token" type="password"
                  [class.is-invalid]="logInInvalidToken" />
                <small class="login-token-suggestion" [hidden]="logInInvalidToken">
                  Insert the token or password provided to you. No username needed.
                </small>
                <small class="login-token-invalid">
                  Invalid token.
                </small>
              </div>
              <div class="login-dialog-footer">
                <button (click)="modal.close()" class="login-dialog-cancel" type="button">Cancel</button>
                <button class="login-dialog-submit" type="submit">Log in</button>
              </div>
            </form>
          </ng-template>
          <button class="user-login" (click)="this.logInInvalidToken = false; modalService.open(loginDialog)">
            <fa-icon [icon]="faSignInAlt"></fa-icon>
            Login
          </button>
        </ng-container>
      </nav>
      <div class="contest-main">
        <aside class="focus-mode-toggler" (click)="focusMode = !focusMode">
          <fa-icon [icon]="focusMode ? faChevronRight : faChevronLeft"></fa-icon>
        </aside>

        <aside class="contest-aside" [hidden]="focusMode">
          <ng-container *ngIf="state.hasScore">
            <h2>Score</h2>
            <div class="contest-score-panel">
              <span class="contest-score">
                {{ state.score.toFixed(state.range.precision) }}
              </span>/<span class="contest-max-score">
                {{ state.range.max.toFixed(state.range.precision) }}
              </span>
            </div>
          </ng-container>
          <ng-container *ngIf="nowObservable | async as now">
            <ng-container *ngIf="state.startTime <= now && now <= state.endTime">
              <h2>Remaining Time</h2>
              <div class="contest-clock remaining-time">
                {{ formatDuration(state.endTime.diff(now)) }}
              </div>
            </ng-container>
            <ng-container *ngIf="now < state.startTime">
              <h2>Starting In</h2>
              <div class="contest-clock starting-in-time">
                {{ formatDuration(state.startTime.diff(now)) }}
              </div>
            </ng-container>
            <ng-container *ngIf="state.endTime < now">
              <h2>Ended</h2>
              <div class="contest-clock ended-by-time">
                {{ formatDuration(now.diff(state.endTime)) }}
              </div>
            </ng-container>
          </ng-container>
          <ng-container *ngIf="data.contestView.problems as problems">
            <h2>Problems</h2>
            <div class="contest-problem-list">
              <ng-container *ngFor="let problem of problems">
                <a class="contest-problem" href="#" [title]="problem.material.title | textVariant"
                  [class.active]="problem.name === selectedProblemName"
                  (click)="selectedProblemName = problem.name; $event.preventDefault()">
                  <ng-container *ngIf="problem.tackling as tackling">
                    <ng-container *ngIf="getProblemState(problem, tackling) as problemState">
                      <span class="contest-problem-score" [attr.data-score-tier]="getScoreTier(problemState)">
                        {{ problemState.score.toFixed(problemState.range.precision) }} /
                        {{ problemState.range.max.toFixed(problemState.range.precision) }}
                      </span>
                    </ng-container>
                  </ng-container>
                  {{ problem.material.title | textVariant:'short' }}
                </a>
              </ng-container>
            </div>
          </ng-container>
        </aside>
        <ng-container *ngFor="let problem of data.contestView.problems">
          <ng-template #newSubmissionDialog let-modal>
            <app-submission-dialog [problem]="problem" [submissionId]="newSubmissionId" [modal]="modal">
            </app-submission-dialog>
          </ng-template>
          <ng-template #submitDialog let-modal>
            <app-submit-dialog [problem]="problem" [userId]="data.contestView.user.id" [modal]="modal"
              (done)="newSubmissionId = $event.id; contestQuery.refetch(); modalService.open(newSubmissionDialog, { size: 'lg' })">
            </app-submit-dialog>
          </ng-template>
          <ng-template #submissionListDialog let-modal>
            <app-submission-list-dialog [problemName]="problem.name" [userId]="data.contestView.user.id"
              [modal]="modal">
            </app-submission-list-dialog>
          </ng-template>
          <aside class="focus-mode-aside" [hidden]="selectedProblemName !== problem.name || !focusMode">
            <ng-container *ngIf="problem.tackling as tackling">
              <button class="problem-submit" style="border-radius: 0" (click)="modalService.open(submitDialog)"
                [hidden]="!tackling.canSubmit">
                <fa-icon [icon]="faPaperPlane"></fa-icon>
              </button>
              <ng-container *ngIf="tackling.submissions as submissions">
                <ng-container *ngIf="submissions.length === 0">
                  <button class="problem-last-submission disabled">
                    <fa-icon [icon]="faHistory"></fa-icon>
                  </button>
                  <button class="problem-submission-list disabled">
                    <fa-icon [icon]="faList"></fa-icon>
                  </button>
                </ng-container>
                <ng-container *ngIf="submissions[submissions.length-1] as lastSubmission">
                  <ng-template #dialog let-modal>
                    <app-submission-dialog [problem]="problem" [submissionId]="lastSubmission.id" [modal]="modal">
                    </app-submission-dialog>
                  </ng-template>
                  <button class="problem-last-submission" (click)="modalService.open(dialog, { size: 'lg' })">
                    <fa-icon *ngIf="lastSubmission.status !== 'PENDING'" [icon]="faHistory"></fa-icon>
                    <fa-icon *ngIf="lastSubmission.status === 'PENDING'" [icon]="faSpinner" [pulse]="true">
                    </fa-icon>
                  </button>
                  <button class="problem-submission-list"
                    (click)="modalService.open(submissionListDialog, { size: 'xl' })">
                    <fa-icon [icon]="faList"></fa-icon>
                  </button>
                </ng-container>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="data.contestView.problems as problems">
              <ng-container *ngFor="let problem of problems; index as index">
                <button class="focus-mode-problem" [title]="problem.material.title | textVariant"
                  [class.selected]="selectedProblemName === problem.name" (click)="selectedProblemName = problem.name">
                  {{getTaskLetter(index)}}
                </button>
              </ng-container>
            </ng-container>

            <ng-container *ngIf="state.hasScore">
              <ng-template #tooltip>
                {{state.score.toFixed(state.range.precision)}}&nbsp;/&nbsp;{{state.range.max.toFixed(state.range.precision)}}
              </ng-template>
              <button class="focus-mode-score" [ngbTooltip]="tooltip" triggers="click:mouseleave" placement="right">
                <fa-icon [icon]="faAward"></fa-icon>
              </button>
            </ng-container>

            <ng-template #clockTemplate>
              <ng-container *ngIf="nowObservable | async as now">
                <ng-container *ngIf="state.startTime <= now && now <= state.endTime">
                  Remaining Time: {{ formatDuration(state.endTime.diff(now)) }}
                </ng-container>

                <ng-container *ngIf="now < state.startTime">
                  Starting In: {{ formatDuration(state.startTime.diff(now)) }}
                </ng-container>

                <ng-container *ngIf="state.endTime < now">
                  Ended: {{ formatDuration(now.diff(state.endTime)) }}
                </ng-container>
              </ng-container>
            </ng-template>

            <button class="focus-mode-clock" [ngbTooltip]="clockTemplate" triggers="click:click" placement="right">
              <fa-icon [icon]="faHourglassHalf"></fa-icon>
            </button>

          </aside>
          <aside class="problem-aside" [hidden]="selectedProblemName !== problem.name || focusMode">
            <!-- <h2 class="problem-title">{{ problem.material.title | textVariant }}</h2> -->
            <ng-container *ngIf="problem.tackling as tackling">
              <div class="problem-submission-panel">
                <ng-container *ngIf="tackling.canSubmit">
                  <button class="problem-submit" (click)="modalService.open(submitDialog)">
                    <fa-icon [icon]="faPaperPlane"></fa-icon>
                    Submit a solution
                  </button>
                </ng-container>
                <ng-container *ngIf="tackling.submissions as submissions">
                  <ng-container *ngIf="submissions[submissions.length-1] as lastSubmission">
                    <ng-template #dialog let-modal>
                      <app-submission-dialog [problem]="problem" [submissionId]="lastSubmission.id" [modal]="modal">
                      </app-submission-dialog>
                    </ng-template>
                    <button class="problem-last-submission" (click)="modalService.open(dialog, { size: 'lg' })">
                      <fa-icon *ngIf="lastSubmission.status !== 'PENDING'" [icon]="faHistory"></fa-icon>
                      <fa-icon *ngIf="lastSubmission.status === 'PENDING'" [icon]="faSpinner" [pulse]="true">
                      </fa-icon>
                      Last submission
                    </button>
                    <button class="problem-submission-list"
                      (click)="modalService.open(submissionListDialog, { size: 'xl' })">
                      <fa-icon [icon]="faList"></fa-icon>
                      All submissions
                    </button>
                  </ng-container>
                </ng-container>
              </div>
            </ng-container>
            <div class="problem-info">
              <ng-container *ngIf="problem.material.awards as awards">
                <h2>Awards</h2>
                <div class="problem-award-list">
                  <ng-container *ngFor="let award of awards" [ngSwitch]="award.content.__typename">
                    <div class="problem-award" [title]="award.title | textVariant">
                      <ng-container *ngIf="problem.tackling as tackling">
                        <ng-container *ngIf="getProblemState(problem, tackling) as problemState">
                          <ng-container *ngIf="problemState.award(award) as state">
                            <th *ngSwitchCase="'ScoreAwardContent'" class="problem-award-score"
                              [attr.data-score-tier]="getScoreTier(state)">
                              {{ state.score.toFixed(state.range.precision) }} /
                              {{ state.range.max.toFixed(state.range.precision) }}
                            </th>
                            <th *ngSwitchCase="'BadgeAwardContent'" class="problem-award-badge" [attr.data-badge]="state.badge">
                              <ng-container *ngIf="state.badge">&#x2713;</ng-container>
                              <ng-container *ngIf="!state.badge">&#x2717;</ng-container>
                            </th>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                      {{award.title | textVariant}}
                    </div>
                  </ng-container>
                </div>
              </ng-container>
              <ng-container *ngIf="problem.material.attachments as attachments">
                <h2>Attachments</h2>
                <div class="problem-attachments">
                  <a class="problem-attachment" [title]="attachment.title | textVariant"
                    *ngFor="let attachment of attachments" [download]="attachment.file[0].name"
                    [href]="'data:' + (attachment.file[0].type || 'application/octet-stream') + ';base64,' + attachment.file[0].content.base64 | bypassSanitizer:'Url'">
                    <fa-icon [icon]="mimeTypeIcons[attachment.file[0].type] || faFile"></fa-icon>
                    {{attachment.title | textVariant}}
                  </a>
                </div>
                <h2>Statement file</h2>
                <ng-container *ngIf="problem.material.statement[0] as statement">
                  <a class="problem-download-statement" [title]="statement.name" [download]="statement.name"
                    [href]="'data:' + (statement.type || 'application/octet-stream') + ';base64,' + statement.content.base64 | bypassSanitizer:'Url'">
                    <fa-icon [icon]="mimeTypeIcons[statement.type] || faFile"></fa-icon>
                    {{statement.name}}
                  </a>
                </ng-container>
              </ng-container>
            </div>
          </aside>

          <ng-container *ngIf="problem.material.statement[0] as statement">
            <iframe class="problem-statement"
              [attr.src]="'data:' + statement.type + ';base64,' + statement.content.base64 | bypassSanitizer:'ResourceUrl'"
              [hidden]="selectedProblemName !== problem.name">
            </iframe>
          </ng-container>
        </ng-container>
        <div [hidden]="selectedProblemName !== undefined">
          HOME (todo)
        </div>
      </div>
    </ng-container>
  </ng-container>
</ng-container>
