<ng-container *ngIf="contestQuery.valueChanges | async as contestResult">
  <ng-container *ngIf="contestResult.data as data">
    <ng-container *ngIf="getContestState(data.contestView) as state">
      <nav class="topbar">
        <a href="#" class="contest-home" (click)="selectedProblemName = undefined; $event.preventDefault()">
          <h1 class="contest-title">
            <fa-icon [icon]="faHome"></fa-icon> {{data.contestView.contestTitle}}
          </h1>
        </a>
        <ng-container *ngIf="data.contestView.user as user">
          <span class="user-display-name">{{user.displayName}}</span>
          <button class="user-logout" (click)="setAuth(undefined)">
            <fa-icon [icon]="faSignOutAlt"></fa-icon>
            Logout
          </button>
        </ng-container>
        <ng-container *ngIf="!data.contestView.user">
          <ng-template #loginDialog let-modal>
            <form class="login-form" (submit)="$event.preventDefault(); logIn($event, modal)">
              <div class="login-dialog-body">
                <label class="login-token-label" for="token">Token</label>
                <input class="login-token-input" id="token" name="token" type="password"
                  [class.is-invalid]="logInInvalidToken" />
                <small class="login-token-suggestion" [hidden]="logInInvalidToken">
                  Insert the token or password provided to you. No username needed.
                </small>
                <small class="login-token-invalid">
                  Invalid token.
                </small>
              </div>
              <div class="login-dialog-footer">
                <button (click)="modal.close()" class="login-dialog-cancel" type="button">Cancel</button>
                <button class="login-dialog-submit" type="submit">Log in</button>
              </div>
            </form>
          </ng-template>
          <button class="user-login" (click)="this.logInInvalidToken = false; modalService.open(loginDialog)">
            <fa-icon [icon]="faSignInAlt"></fa-icon>
            Login
          </button>
        </ng-container>
      </nav>
      <div class="contest-main">
        <aside class="focus-mode-toggler" (click)="focusMode = !focusMode">
          <fa-icon [icon]="focusMode ? faChevronRight : faChevronLeft"></fa-icon>
        </aside>

        <aside class="contest-view-aside floating" [hidden]="focusMode">
          <aside class="contest-aside">
            <ng-container *ngIf="state.hasScore">
              <h2 class="contest-score-title">Score</h2>
              <div class="contest-score-panel">
                <span class="contest-score">
                  {{ state.score.toFixed(state.range.precision) }}
                </span> / <span class="contest-max-score">
                  {{ state.range.max.toFixed(state.range.precision) }}
                </span>
              </div>
            </ng-container>
            <ng-container *ngIf="state.clock | async as clock">
              <h2 class="contest-clock-title" [ngSwitch]="clock.status">
                <ng-container *ngSwitchCase="'startingIn'">Starting In</ng-container>
                <ng-container *ngSwitchCase="'endingIn'">Remaining Time</ng-container>
                <ng-container *ngSwitchCase="'endedBy'">Ended</ng-container>
              </h2>
              <div class="contest-clock" [attr.data-clock-status]="clock.status">
                {{ clock.value.toFormat('hh:mm:ss') }}
              </div>
            </ng-container>
            <ng-container *ngIf="data.contestView.problems.length > 0">
              <h2 class="contest-problem-list-title">Problems</h2>
              <div class="contest-problem-list">
                <ng-container *ngFor="let problem of data.contestView.problems; index as index">
                  <a class="contest-problem" href="#" [title]="problem.material.title | textVariant"
                    [class.active]="problem.name === selectedProblemName"
                    (click)="selectedProblemName = problem.name; $event.preventDefault()">
                    {{ problem.material.title | textVariant:'short' }}
                    <ng-container *ngIf="problem.tackling as tackling">
                      <ng-container *ngIf="getProblemState(problem, tackling) as problemState">
                        <span class="contest-problem-score" [attr.data-score-tier]="getScoreTier(problemState)">
                          {{ problemState.score.toFixed(problemState.range.precision) }} /
                          {{ problemState.range.max.toFixed(problemState.range.precision) }}
                        </span>
                      </ng-container>
                    </ng-container>
                  </a>
                </ng-container>
              </div>
            </ng-container>
          </aside>
          <ng-container *ngFor="let problem of data.contestView.problems; index as index">
            <aside class="problem-aside" [hidden]="selectedProblemName !== problem.name">
              <div class="problem-submission-panel" *ngIf="problem.tackling as tackling">
                <ng-container *ngIf="tackling.canSubmit">
                  <ng-template #newSubmissionDialog let-modal>
                    <app-submission-dialog [problem]="problem" [submissionId]="newSubmissionId" [modal]="modal">
                    </app-submission-dialog>
                  </ng-template>
                  <ng-template #submitDialog let-modal>
                    <app-submit-dialog [problem]="problem" [userId]="data.contestView.user.id" [modal]="modal"
                      (done)="newSubmissionId = $event.id; contestQuery.refetch(); modalService.open(newSubmissionDialog, { size: 'lg' })">
                    </app-submit-dialog>
                  </ng-template>
                  <button class="problem-submit" (click)="modalService.open(submitDialog)">
                    <fa-icon [icon]="faPaperPlane"></fa-icon>
                    Submit a solution
                  </button>
                </ng-container>

                <ng-container *ngIf="tackling.submissions[tackling.submissions.length - 1] as lastSubmission">
                  <ng-template #lastSubmissionDialog let-modal>
                    <app-submission-dialog [problem]="problem" [submissionId]="lastSubmission.id" [modal]="modal">
                    </app-submission-dialog>
                  </ng-template>
                  <button class="problem-last-submission"
                    (click)="modalService.open(lastSubmissionDialog, { size: 'lg' })">
                    <fa-icon *ngIf="lastSubmission.status !== 'PENDING'" [icon]="faHistory">
                    </fa-icon>
                    <fa-icon *ngIf="lastSubmission.status === 'PENDING'" [icon]="faSpinner" [pulse]="true">
                    </fa-icon>
                    Last submission
                  </button>

                  <ng-template #submissionListDialog let-modal>
                    <app-submission-list-dialog [problemName]="problem.name" [userId]="data.contestView.user.id"
                      [modal]="modal">
                    </app-submission-list-dialog>
                  </ng-template>
                  <button class="problem-submission-list"
                    (click)="modalService.open(submissionListDialog, { size: 'xl' })">
                    <fa-icon [icon]="faList"></fa-icon>
                    All submissions
                  </button>
                </ng-container>
              </div>
              <div class="problem-info">
                <ng-container *ngIf="problem.material.awards.length > 0">
                  <h3 class="problem-award-list-title">Awards</h3>
                  <div class="problem-award-list">
                    <ng-container *ngFor="let award of problem.material.awards" [ngSwitch]="award.content.__typename">
                      <div class="problem-award" [title]="award.title | textVariant">
                        {{award.title | textVariant}}
                        <ng-container *ngIf="problem.tackling as tackling">
                          <ng-container *ngIf="getProblemState(problem, tackling) as problemState">
                            <ng-container *ngIf="problemState.award(award) as state">
                              <th *ngSwitchCase="'ScoreAwardContent'" class="problem-award-score"
                                [attr.data-score-tier]="getScoreTier(state)">
                                {{ state.score.toFixed(state.range.precision) }} /
                                {{ state.range.max.toFixed(state.range.precision) }}
                              </th>
                              <th *ngSwitchCase="'BadgeAwardContent'" class="problem-award-badge"
                                [attr.data-badge]="state.badge">
                                <ng-container *ngIf="state.badge">&#x2713;</ng-container>
                                <ng-container *ngIf="!state.badge">&#x2717;</ng-container>
                              </th>
                            </ng-container>
                          </ng-container>
                        </ng-container>
                      </div>
                    </ng-container>
                  </div>
                </ng-container>
                <ng-container *ngIf="problem.material.attachments.length > 0">
                  <h3 class="problem-attachment-list-title">Attachments</h3>
                  <div class="problem-attachment-list">
                    <a *ngFor="let attachment of problem.material.attachments" class="problem-attachment"
                      [title]="attachment.title | textVariant" [download]="attachment.file[0].name"
                      [href]="'data:' + (attachment.file[0].type || 'application/octet-stream') + ';base64,' + attachment.file[0].content.base64 | bypassSanitizer:'Url'">
                      <fa-icon [icon]="mimeTypeIcons[attachment.file[0].type] || faFile"></fa-icon>
                      {{attachment.title | textVariant}}
                    </a>
                  </div>
                </ng-container>
                <ng-container *ngIf="problem.material.statement.length > 0">
                  <h2 class="problem-download-statement-title">Statement file</h2>
                  <ng-container *ngIf="problem.material.statement[0] as statement">
                    <a class="problem-download-statement" [title]="statement.name" [download]="statement.name"
                      [href]="'data:' + (statement.type || 'application/octet-stream') + ';base64,' + statement.content.base64 | bypassSanitizer:'Url'">
                      <fa-icon [icon]="mimeTypeIcons[statement.type] || faFile"></fa-icon>
                      {{statement.name}}
                    </a>
                  </ng-container>
                </ng-container>
              </div>
            </aside>
          </ng-container>
        </aside>

        <div [hidden]="selectedProblemName !== undefined">
          HOME (todo)
        </div>

        <ng-container *ngFor="let problem of data.contestView.problems">
          <ng-container *ngIf="problem.material.statement[0] as statement">
            <iframe class="problem-statement"
              [attr.src]="'data:' + statement.type + ';base64,' + statement.content.base64 | bypassSanitizer:'ResourceUrl'"
              [hidden]="selectedProblemName !== problem.name">
            </iframe>
          </ng-container>
        </ng-container>

      </div>
    </ng-container>
  </ng-container>
</ng-container>
