{% extends "base.html" %}
{% set title = "TuringArena sign in" %}
{% block head %}
    <link href="{{ url_for("static", filename="css/login.css") }}" rel="stylesheet">
{% endblock %}
{% block header %}{% endblock %}
{% block body %}
<div class="text-center">
    <form class="form-signin" action="#" onsubmit="singIn(); return false">
        <img class="mb-4" src="{{ url_for("static", filename="img/turingarena_logo.svg") }}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <p id="message"></p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
    <script>
        const AUTH_ENDPOINT = "/api/auth";

        function singIn() {
            const username = document.getElementById("inputUsername").value;
            const password = document.getElementById("inputPassword").value;
            const contest = "{{ contest_name }}";

            jsonRequest(AUTH_ENDPOINT, {
                username: username,
                password: password,
                contest: contest,
            }).then(response => {
                if (response.status !== 200) {
                    response.json().then(r => document.getElementById("message").innerText = r.message);
                } else {
                    document.location = "{{ url_for("main.contest_view", contest_name=contest_name) }}";
                }
            });
        }
    </script>
</div>
{% endblock %}
