{% extends "base.html" %}
{% set title = "TuringArena sign in" %}
{% block head %}
    <link href="{{ url_for("static", filename="css/login.css") }}" rel="stylesheet">
{% endblock %}
{% block header %}{% endblock %}
{% block body %}
<div class="text-center">
    <form class="form-signin" method="post">
        <img class="mb-4" src="{{ url_for("static", filename="img/turingarena_logo.svg") }}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="inputUsername" class="sr-only">Username</label>
        <input name="username" type="text" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        {% if registrarion_allowed %}
            <p>Don't have an account? <a href="{{ url_for("user.register") }}">Sign Up</a>!</p>
        {% endif %}
        <p>{{ message }}</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
{% endblock %}
