{% extends "base.html" %}
{% set title = problem.title %}
{% block body %}
    <div id="statement">
        {{ problem.statement | safe }}
    </div>
    <div>
    </div>
    <hr>
    <div id="submission">
        <h3>Submit your solution</h3>
        <form method="post" enctype="multipart/form-data">
            <div class="input-group form-group">
                <div class="input-group-prepend">
                    <span class="input-group-text">Select source file</span>
                </div>
                <div class="input-group custom-file">
                    <input id="source_upload" class="custom-file-input" type="file" name="source" required>
                    <label id="source_label" for="source_upload" class="custom-file-label">Choose</label>
                </div>
            </div>
            <a class="btn btn-primary" role="button"
               href={{ url_for("contest.files", contest_name=contest.name, name=problem.name) }}>Download problem
                files</a>
            <button class="btn btn-success" type="submit">Submit</button>
            {% if error is not none %}
                <span class="text-danger">{{ error }}</span>
            {% endif %}
            <script>
                document.getElementById("source_upload").onchange = function (e) {
                    document.getElementById("source_label").innerText = e.target.files[0].name;
                }
            </script>
        </form>
    </div>
    <hr>
    <div id="submissions">
        <h3>Your previous submissions</h3>
        <table class="table">
            <tr>
                <th>Date</th>
                <th>Goals</th>
                <th>Details</th>
                <th>Download</th>
            </tr>
            {% for submission in submissions %}
                {% set total_goals = problem.goals|length %}
                {% set acquired_goals = submission.acquired_goals|length %}
                {% if acquired_goals == total_goals %}
                    <tr class="table-success">
                        {% elif acquired_goals == 0 %}
                    <tr class="table-danger">
                        {% else %}
                    <tr class="table-warning">
                {% endif %}
            <td>{{ submission.timestamp.strftime("%H:%M %d/%m/%Y") }}</td>
            <td>{{ acquired_goals }} / {{ total_goals }}</td>
            <td><a href="{{ url_for("submission.submission_view", submission_id=submission["id"]) }}">Info</a></td>
            <td>
                <a href="{{ url_for("submission.download", submission_id=submission["id"], filename=submission["filename"]) }}">{{ submission.filename }}</a>
            </td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}