{% extends "base.html" %}
{% set title = "TuringArena registration page" %}
{% block body %}
    <div class="container">
        <h3 class="text-center">Sign up to TuringArena</h3>
        <form method="post">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="first_name">First name</label>
                    <input id="first_name" class="form-control" type="text" name="first_name" placeholder="First name"
                           minlength="2" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="last_name">Last name</label>
                    <input id="last_name" class="form-control" type="text" name="last_name" placeholder="Last name"
                           minlength="2" required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="username">Username</label>
                    <input id="username" class="form-control" type="text" name="username" placeholder="username"
                           pattern="[A-Za-z0-9_]+" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" type="email" name="email" placeholder="user@example.com"
                           required>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="password">Password</label>
                    <input id="password" class="form-control" type="password" name="password" placeholder="password"
                           minlength="8" oninput="checkPassword()" required>
                </div>
                <div class="form-group col-md-6">
                    <label for="password2">Repeat password</label>
                    <input id="password2" class="form-control" type="password" placeholder="repeat password"
                           minlength="8" oninput="checkPassword()" required>
                </div>
            </div>
            <button class="btn btn-primary float-right" type="submit">Sign Up</button>
        </form>
    </div>
    <script>
        function checkPassword() {
            const password1 = document.getElementById("password");
            const password2 = document.getElementById("password2");
            if (password1.value !== password2.value) {
                password2.setCustomValidity("Repeated password doesn't correspond");
            } else {
                password2.setCustomValidity("");
            }
        }
    </script>
{% endblock %}
