{% extends "base.html" %}
{% block head %}
    {% if not end %}
        {# TODO: dymaically get evaluation events via some JavaScript code #}
        <meta http-equiv="refresh" content="1">
    {% endif %}
    <style>
        #evaluation-output {
            overflow: auto;
            height: 400px;
        }

        #goals {
            overflow: auto;
        }
    </style>
{% endblock %}
{% block body %}
    <div>
        <h3>Evaluation output</h3>
        <pre id="evaluation-output">
            {%- for event in events -%}
                {{ event | safe }}
            {%- endfor -%}
            {% if not end %}<br>Evaluating...{% endif %}
        </pre>
    </div>
    <hr>
    {% if files|length > 0 %}
        <h3>Files of your submission</h3>
        {% for f in files %}
            <a href="data:{{ f.content_type }};base64,{{ f.content_base64 }}"
               download="{{ f.filename }}"
            >{{ f.filename }}</a>
        {% endfor %}
        <hr>
    {% endif %}
    <div>
        <h3>Your goals</h3>
        <table id="goals" class="table">
            <tr>
                <th>Goal</th>
                <th>Result</th>
            </tr>
            {% for goal, value in goals.items() %}
                {% if value is none %}
                    <tr class="table-info">
                {% elif value %}
                    <tr class="table-success">
                        {% else %}
                    <tr class="table-danger">
                {% endif %}
                <td>{{ goal.name }}</td>
                <td>{% if value is none %} ? {% elif value %} 👌 {% else %} 🙁 {% endif %}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
