{% extends "base.html" %}
{% block head %}
    <style>
        #evaluation-output {
            overflow: auto;
            height: 400px;
        }

        #goals {
            overflow: auto;
        }
    </style>
{% endblock %}
{% block body %}
    <div>
        <h3>Evaluation output</h3>
        <pre id="evaluation-output"></pre>
    </div>
    <hr>
    <div id="files" hidden>
        <h3>Files of your submission</h3>
        <ul id="files_list">
        </ul>
        <hr>
    </div>
    <div>
        <h3>Your goals</h3>
        <table id="goals" class="table">
            <tr>
                <th>Goal</th>
                <th>Result</th>
            </tr>
            {% for goal in goals %}
                <tr class="table-info" id="{{ goal }}_tr">
                    <td>{{ goal }}</td>
                    <td id="{{ goal }}_result">?</td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <script>
        const evaluationOutput = document.getElementById("evaluation-output");

        function goalResult(goal, result) {
            const goalTr = document.getElementById(goal + "_tr");
            const goalResult = document.getElementById(goal + "_result");
            if (result) {
                goalTr.className = "table-success";
                goalResult.innerText = "👌";
            } else {
                goalTr.className = "table-danger";
                goalResult.innerText = "🙁";
            }
        }

        function addFile(file) {
            document.getElementById("files").removeAttribute("hidden");
            document.getElementById("files_list").innerHTML += "<li><a href=\"data:"
                + file.content_type + ";base64," + file.content_base64 + "\" download=\"" + file.filename
                + "\">" + file.filename + "</a></li>"; // FIXME: how horrible is it?
        }

        (async () => {
            let end = false;
            let after = -1;
            while (!end) {
                await jsonRequest('/api/events', {
                    contest: '{{ submission.contest.name }}',
                    problem: '{{ submission.problem.name }}',
                    timestamp: {{ submission.timestamp }},
                    after: after
                }).then(response => {
                    return response.json()
                }).then(response => {
                    response.events.forEach(event => {
                        switch (event.type) {
                            case 'text':
                                evaluationOutput.innerHTML += event.payload;
                                break;
                            case 'data':
                                const data = event.payload;
                                switch (data.type) {
                                    case 'end':
                                        end = true;
                                        break;
                                    case 'goal_result':
                                        goalResult(data.goal, data.result);
                                        break;
                                }
                                break;
                            case 'file':
                                addFile(event.payload);
                                break;
                        }
                    });
                    after += response.events.length;
                    return new Promise(resolve => setTimeout(resolve, 500));
                });
            }
        })()
    </script>
{% endblock %}
