<form class="create-form" (ngSubmit)="submit()">
  <label>Import from file</label>
  <input type="file" (change)="importFile($event); $event.preventDefault()" />
  <div class="create-dialog-body">
    <ag-grid-angular class="create-contestants-grid ag-theme-balham" #contestantsGrid [animateRows]="true"
      [columnDefs]="contestantsColumnDefs" [rowData]="contestantInputs" rowSelection="multiple"
      (rowEditingStarted)="onRowEditingStarted($event)"
      (rowEditingStopped)="onRowEditingStopped($event)"
      editType = 'fullRow'
      domLayout="autoHeight"
      rowSelection="multiple"
      [suppressRowClickSelection]="true"
      ></ag-grid-angular>
  </div>
  <div class="create-dialog-footer">
    <button (click)="modal.close()" class="create-dialog-cancel" type="button">Cancel</button>
    <button class="create-dialog-submit" type="submit">Create</button>
  </div>
</form>
